<!--
  Generated template for the MybookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Single User Details for Land Owner</ion-title>
  </ion-navbar>
  <!-- <ion-navbar> <ion-title>My Bookings</ion-title> </ion-navbar> -->
</ion-header>

<ion-content class="backclr">
  <div class="avtimg" *ngIf="userdata && userdata.user_id_picture">
    <img [src]="userdata.user_id_picture" />
  </div>
  <div class="avtimg" *ngIf="!userdata.user_id_picture">
    <img src="assets/images/user.png" />
  </div>

  <p *ngIf="userdata && userdata.first_name && userdata.first_name[0]">
    User -
    {{ userdata.first_name[0] }}
  </p>

  <p *ngIf="userdata && userdata.user_name">
    Username - {{ userdata.user_name }}
  </p>

  <p *ngIf="userdata.user_email">Email - {{ userdata.user_email }}</p>

  <p *ngIf="userdata && userdata.mobile && userdata.mobile[0]">
    Phone -
    <a href="tel:{{ userdata.mobile[0] }}">{{ userdata.mobile[0] }}</a>
  </p>
  <p class="wall" (click)="viewactivity()" class="viewactivity">
    View Activity
  </p>
</ion-content>
