page-login {
  .checkbox-icon {
    bottom: -2px;
  }
  ion-checkbox {
    margin: 15px 0 0 !important;
  }
  .logo img {
    width: 60%;
    padding-top: 8px;
  }
  .sky-background {
    background-image: url("../assets/images/background-login2.jpg") !important;
    background-size: 100% 100%;
  }
  * {
    color: #fff !important;
  }
  .text-input {
    color: #000 !important;
  }
}
