page-propertiesmapfilter {
  .seasonlease {
    background: #232323 none repeat scroll 0 0;
    padding: 4px 2px;
    text-align: center;
    ul {
      display: flex;
      -webkit-display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0px;
      li {
        color: #fff;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .blue {
          background: #00aeef none repeat scroll 0 0;
        }
        .green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
  }
  .leaseresult {
    background: #2c2c2c none repeat scroll 0 0;
    padding: 0 15px;
    strong {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      margin: 20px 0 30px;
    }
    .switchs {
      background: #2c2c2c;
      padding-left: 0px;
      .item-inner {
        .input-wrapper {
          label {
            color: #fff !important;
          }
        }
      }
    }
    .switchslot {
      color: #fff !important;
      display: block;
      margin: 0 0 4px;
      vertical-align: top;
      font-size: 17px;
      .item-inner {
        border-bottom: 1px solid #2c2c2c;
        .toggle-checked .toggle-inner {
          -webkit-transform: translate3d(16px, 0, 0);
          transform: translate3d(16px, 0, 0);
          background-color: #8dc642;
        }
        .toggle-checked .toggle-icon {
          background-color: #8dc642;
        }
        .toggle-inner {
          background-color: #ff2422;
        }
        .toggle-icon {
          background-color: #ff2422;
        }
      }
      img {
        float: right;
        margin: -10px 0 0;
      }
    }
  }
  .item-md {
    color: #fff;
  }
  .label-ios {
    color: #fff;
  }
  .round_circle {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    margin: 0 5px;
  }
  .blue {
    background: #00aeef none repeat scroll 0 0;
  }
  .green {
    background: #27ef00 none repeat scroll 0 0;
  }
  .red {
    background: #ff0000 none repeat scroll 0 0;
  }
  .success {
    background: #343434 none repeat scroll 0 0;
    margin: 0 -15px;
    padding: 15px 0;
    text-align: center;
    .done {
      background: color($colors, darkblue) none repeat scroll 0 0;
      border: medium none;
      border-radius: 3px;
      color: #fff;
      font-size: 20px;
      padding: 10px 35px;
    }
  }
}
