<!--
  Generated template for the MysubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>My Subscription</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="postlists" *ngIf="data && data.length">
    <div><h6 class="pckg">Change your package</h6></div>
    <ion-item>
      <ion-label>Select Package</ion-label>
      <ion-select [(ngModel)]="package">
        <ion-option *ngFor="let dat of data" [value]="dat.id"
          ><span [innerHTML]="dat.data_pick"></span
        ></ion-option>
      </ion-select>
    </ion-item>
    <button
      ion-button
      margin-top
      full
      round
      color="darkblue"
      (click)="paysubscription()"
    >
      Pay with paypal
    </button>
  </div>

  <div class="postlists">
    <div class="crdd bck1">
      <h5>One Year 3 Dollars</h5>
      <h6>Time Period: 1Year | 5 Featured</h6>
      <p>Unlimited Listing</p>
    </div>
    <div class="crdd bck2">
      <h5>One Year 3 Dollars</h5>
      <h6>Time Period: 1Year | 5 Featured</h6>
      <p>Unlimited Listing</p>
    </div>
  </div>
</ion-content>
