page-mysubscription {
  ion-content {
    background-color: #f9fafe !important;
  }
  .postlists {
    background-color: color($colors, light);
    padding: 14px 0;
    margin-top: 16px;
    box-shadow: 1px 1px 10px #a29e9e;
    .pckg {
      padding-left: 16px;
      color: darkblue;
      border-bottom: 1px solid #dedede;
      margin-top: 6px;
      padding-bottom: 8px;
    }
    ion-item {
      .item-inner {
        border-bottom: none !important;
        padding-right: 16px !important;
        .input-wrapper {
          border-bottom: 1px solid #dedede;
        }
        ion-select {
          padding: 10px 8px 8px 8px;
        }
      }
    }
    button {
      width: -webkit-fill-available;
      margin-right: 16px;
      margin-left: 16px;
    }
    .crdd {
      margin: 10px;
      padding: 2px 12px;
      border-radius: 8px;
      h5 {
        color: color($colors, light);
        margin-top: 1.4rem;
        margin-bottom: 0.8rem;
      }
      h6 {
        color: color($colors, light);
        margin-top: 1.2rem;
        margin-bottom: 0.6rem;
      }
      p {
        color: color($colors, light);
        margin-top: 1rem;
      }
    }
    .bck1 {
      background: rgba(22, 76, 115, 1);
      background: -moz-linear-gradient(
        45deg,
        rgba(22, 76, 115, 1) 0%,
        rgba(47, 94, 128, 1) 23%,
        rgba(31, 98, 153, 1) 44%,
        rgba(27, 110, 179, 1) 65%,
        rgba(30, 129, 204, 1) 100%
      );
      background: -webkit-gradient(
        left bottom,
        right top,
        color-stop(0%, rgba(22, 76, 115, 1)),
        color-stop(23%, rgba(47, 94, 128, 1)),
        color-stop(44%, rgba(31, 98, 153, 1)),
        color-stop(65%, rgba(27, 110, 179, 1)),
        color-stop(100%, rgba(30, 129, 204, 1))
      );
      background: -webkit-linear-gradient(
        45deg,
        rgba(22, 76, 115, 1) 0%,
        rgba(47, 94, 128, 1) 23%,
        rgba(31, 98, 153, 1) 44%,
        rgba(27, 110, 179, 1) 65%,
        rgba(30, 129, 204, 1) 100%
      );
      background: -o-linear-gradient(
        45deg,
        rgba(22, 76, 115, 1) 0%,
        rgba(47, 94, 128, 1) 23%,
        rgba(31, 98, 153, 1) 44%,
        rgba(27, 110, 179, 1) 65%,
        rgba(30, 129, 204, 1) 100%
      );
      background: -ms-linear-gradient(
        45deg,
        rgba(22, 76, 115, 1) 0%,
        rgba(47, 94, 128, 1) 23%,
        rgba(31, 98, 153, 1) 44%,
        rgba(27, 110, 179, 1) 65%,
        rgba(30, 129, 204, 1) 100%
      );
    }
    .bck2 {
      background-color: #33c4bd;
    }
  }
}
