<!--
  Generated template for the OrdersuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <img src="assets/images/success.gif" class="success" />
  <h3 color="usgbtn2">Order received</h3>
  <h5>Thank you. your order has been received.</h5>

  <ion-item>
    <ion-title>ORDER NUMBER:</ion-title>
    <p *ngIf="order_detail && order_detail.orderdata && order_detail.orderdata.length">{{ order_detail.orderdetails[0].order_number }}</p>
  </ion-item>
  <ion-item>
    <ion-title>DATE:</ion-title>
    <p *ngIf="order_detail && order_detail.orderdata && order_detail.orderdata.length">{{ order_detail.orderdetails[0].created_at }}</p>
  </ion-item>
  <ion-item>
    <ion-title>Total:</ion-title>
    <p *ngIf="order_detail && order_detail.orderdata && order_detail.orderdata.length">${{ order_detail.orderdetails[0].total }}</p>
  </ion-item>
  <ion-item *ngIf="payment_method">
    <ion-title>PAYMENT METHOD:</ion-title>
    <p>PayPal</p>
  </ion-item>
  <button
    margin
    style="width: -webkit-fill-available;"
    ion-button
    full
    color="darkora"
    round
    (click)="gotohome('PropertieslistviewPage')"
  >
    Go to Home
  </button>
  <br /><br />
  <h5 color="usgbtn2">Order Detail</h5>
  <ion-item *ngIf="order_detail && order_detail.orderdata && order_detail.orderdata.length">
    <ion-title>Product:</ion-title>
    <ng-container *ngFor="let orders of order_detail.orderdata">
      <ion-row>
        <ion-col> <p>{{ orders.slot_name }}</p></ion-col>
        <ion-col
          ><p>${{ orders.booking_product_price_after_discount }}</p></ion-col
        >
      </ion-row>
    </ng-container>
  </ion-item>
  <!-- <ion-item>
    <ion-title>Subtotal:</ion-title>
    <p>${{ order_detail.order_data.subtotal }}</p>
  </ion-item>  
      <ion-item>
    <ion-title>PAYMENT METHOD:</ion-title>
    <p>PayPal</p>
  </ion-item> -->
</ion-content>
