page-changepassword {
  ion-content {
    background-color: #f9fafe !important;
  }
  .error {
    margin-top: 10px;
    p {
      color: color($colors, err);
      padding: 10px 15px;
      font-size: 16px;
      line-height: 25px;
      margin: 0;
    }
  }
  .postlists {
    color: #363636;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
      }
    }
    ion-list {
      margin-top: 0 !important;
    }
  }

  .error {
    border: 1px solid color($colors, danger);
    padding: 0 6px;
    margin: 0 10px;
    p {
      color: color($colors, danger);
    }
  }
  .changepassword {
    background-color: color($colors, darkblue);
    .filed {
      padding: 10px 0;
    }
    button {
      margin: 20px 12px 40px 12px !important;
      width: -webkit-fill-available;
    }
    .tile {
      background: #f5f3f4;
      padding: 18px 0;
      div {
        strong {
          padding: 0 10px;
        }
      }
    }
    div {
      ion-input {
        border: 1px solid #e0dbdb;
        margin: 12px;
        width: auto;
      }
      strong {
        padding: 0 10px;
      }
      p {
        margin: 0;
        padding: 0 10px;
      }
    }
    p {
      color: color($colors, light);
      span {
        color: color($colors, danger);
      }
    }
  }
}
