<ion-content class="sky-background">
  <div>
    <div class="logoo">
      <div class="logo">
        <img class="aligncenter" src="assets/images/logo.png" />
      </div>
      <div class="midcontent">
        <div class="headpinnumber">
          <h1 *ngIf="phonumber">
            Enter the pin we sent to your phone (...) ...{{ phonumber }}
          </h1>
          <p class="fourdigitpin">
            To Make sure it’s you, Please enter the <em>4-digit pin</em> we sent
            in a text message.
          </p>
          <form (ngSubmit)="verifyOtp()" [formGroup]="configs" novalidate>
            <div class="inputpin">
              <ion-input
                id="inputs"
                type="tel"
                name="number1"
                [(ngModel)]="user.number1"
                maxlength="1"
                (keyup)="moveFocus(b)"
                formControlName="number1"
                [class.error1]="
                  !configs.controls.number1.valid &&
                  configs.controls.number1.dirty
                "
              ></ion-input>
              <ion-input
                id="inputs"
                type="tel"
                name="number2"
                #b
                (keyup)="moveFocus(c)"
                [(ngModel)]="user.number2"
                maxlength="1"
                formControlName="number2"
                [class.error1]="
                  !configs.controls.number2.valid &&
                  configs.controls.number2.dirty
                "
              ></ion-input>
              <ion-input
                id="inputs"
                type="tel"
                name="number3"
                #c
                (keyup)="moveFocus(d)"
                [(ngModel)]="user.number3"
                maxlength="1"
                formControlName="number3"
                [class.error1]="
                  !configs.controls.number3.valid &&
                  configs.controls.number3.dirty
                "
              ></ion-input>
              <ion-input
                id="inputs"
                type="tel"
                name="number4"
                #d
                (keyup)="moveFocus(b)"
                [(ngModel)]="user.number4"
                maxlength="1"
                formControlName="number4"
                [class.error1]="
                  !configs.controls.number4.valid &&
                  configs.controls.number4.dirty
                "
              ></ion-input>
            </div>
            <button type="submit" class="buttonblock landaccount">
              Verify
            </button>
          </form>
        </div>
        <div class="trouble">
          <strong>Having trouble?</strong>
          <ul>
            <!-- <li><a>Call my phone instead</a></li> -->
            <li><a>Get a code from our support staff</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
