page-locationonmap {
  agm-map {
    height: -webkit-fill-available !important;
    width: 100%;
    // position: relative !important;
    // z-index: 99999 !important;
    // top: 43rem !important;
    // touch-action: none;
    .agm-map-container-inner {
      display: flex !important;
      height: 100%;
      //   height: 10rem !important;
      //   position: inherit !important;
      //   overflow: inherit !important;
    }
  }
  .map {
    height: 100%;
  }
}
