page-propertieslistview {
  // .outer {
  //   display: table;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  // }

  // .middle {
  //   display: table-cell;
  //   vertical-align: middle;
  // }
  .daylease {
    font-size: 13px;
  }
  ion-slide {
    width: 100% !important;
  }
  ion-footer {
    background: #fff;
    height: fit-content;
    img {
      bottom: -2px;
      position: relative;
    }
  }
  .g-1 {
    // display: -webkit-inline-box;
    // position: relative;
  }
  .adverbanner {
    .slide-zoom {
      background: #fff;
    }
    p {
      margin: 0;
    }
    .swiper-pagination {
      display: none;
    }
  }
  .srchbttn {
    display: block;
    margin: 0 auto !important;
  }
  .postlist {
    img {
      height: 100px;
      object-fit: cover;
    }
  }
  ion-card {
    img {
      height: 300px;
      object-fit: cover;
      width: 100%;
    }
  }
  ion-content {
    position: relative;
  }
  .refresher-pulling-icon,
  .refresher-refreshing-icon {
    color: #fff;
  }
  .refresher-pulling-text,
  .refresher-refreshing-text {
    color: #fff;
  }
  ion-refresher.refresher-active {
    color: #fff;
  }
  .autocompletelist {
    margin-top: 60px;
    position: absolute;
    z-index: 9999;
    width: -webkit-fill-available;
    box-shadow: 0px 6px 24px #928888;
  }
  .searchbtn {
    margin: 0 auto;
    display: block;
  }
  .inner {
    margin-top: 100px;
    // margin-left: auto;
    // margin-right: auto;
    // width: 400px;
    /*whatever width you want*/
    img {
      margin: 0 auto;
      display: block;
      width: 15%;
    }
  }
  .filterpost {
    ion-item {
      background-color: transparent;
      .item-inner {
        border-bottom: none !important;
        ion-label {
          color: color($colors, light);
        }
        ion-select {
          color: color($colors, light);
          .select-icon {
            .select-icon-inner {
              color: color($colors, light);
            }
          }
        }
      }
    }
  }
  ion-segment {
    box-shadow: 1px 2px 3px #9e9e9e;
  }
  ion-segment-button {
    height: 4.8rem;
    line-height: 4.8rem;
    font-size: 1.4rem;
  }
  .menui {
    .menuicon {
      content: "";
      background-image: url(../assets/images/menu.png);
      width: 20px;
      height: 20px;
      display: inline-block;
      background-position: center;
      background-size: cover;
    }
    ion-icon::before {
      display: none;
    }
  }
  .seg {
    background-color: color($colors, darkblue) !important;
    color: color($colors, light) !important;
    opacity: 1 !important;
    .viewtxt {
      // vertical-align: super;
    }
    .listview {
      content: "";
      background-image: url(../assets/images/list.png);
      width: 12px;
      height: 12px;
      display: inline-block;
      background-position: center;
      background-size: cover;
      margin-right: 2px;
    }
    .mapview {
      content: "";
      background-image: url(../assets/images/mapview.png);
      width: 12px;
      height: 12px;
      display: inline-block;
      background-position: center;
      background-size: cover;
      margin-right: 2px;
    }
    ion-icon::before {
      display: none;
    }
  }
  .segl {
    // border-left: 2px solid color($colors, light);
    .filti {
      color: color($colors, darkblue);
      background-color: color($colors, light);
    }
  }
  .seg.segment-activated {
    border-color: color($colors, light) !important;
  }
  .filt {
    height: 50px;

    .sort {
      content: "";
      background-image: url(../assets/images/sort.png);
      width: 20px;
      height: 10px;
      display: inline-block;
      background-position: center;
      background-size: cover;
    }
    .filterr {
      content: "";
      background-image: url(../assets/images/filter.png);
      width: 10px;
      height: 10px;
      display: inline-block;
      background-position: center;
      background-size: cover;
    }
    ion-icon::before {
      display: none;
    }
  }
  .search {
    font-size: 2.8rem;
    color: #404040;
  }
  agm-map {
    height: -webkit-fill-available !important;
    width: 100%;
    // position: relative !important;
    // z-index: 99999 !important;
    // top: 43rem !important;
    // touch-action: none;
    .agm-map-container-inner {
      display: flex !important;
      position: relative !important;
      overflow: hidden !important;
      //   height: 10rem !important;
      //   position: inherit !important;
      //   overflow: inherit !important;
    }
  }
  select {
    border: color($colors, fauji);
    background: color($colors, fauji);
  }

  .seasonlease {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 4px 2px;
    text-align: center;
    ul {
      display: flex;
      -webkit-display: flex;
      justify-content: space-between;
      padding-left: 0;
      margin: 8px 0;
      li {
        color: #aaaaaa;
        list-style: none;
        border-radius: 50px;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 5px;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .blue {
          background: #00aeef none repeat scroll 0 0;
        }
        .green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
  }
  .mapview {
    position: relative;
    img {
      width: 100%;
    }
    .geolocation {
      background-color: transparent;
      background-image: url(../assets/images/geolocation.png);
      border: medium none;
      bottom: 20px;
      display: inline-block;
      height: 100px;
      position: absolute;
      right: 0;
      width: 100px;
      cursor: pointer;
    }
  }
  .ribbon {
    position: absolute;
    z-index: 10;
    padding: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    zoom: 1;
    right: 5px;
    min-width: 30%;
    max-width: 40%;
    height: 32px;
    background: orange;
  }
  .ribbon:after {
    content: "";
    position: absolute;
    z-index: -20;
    top: 100%;
    left: auto;
    border-style: solid;
    border-width: 0 0 10px 10px;
    right: 0;
    border-color: transparent #dc5f0b;
  }
  .map .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 50px;
    background: #fff;
    height: fit-content;
    width: 100%;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      display: grid;
      right: 8px;
      position: relative;
      top: 2px;
      font-size: 2rem;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .success {
    opacity: 1.5;
  }
  .labelctxt {
    span {
      cursor: not-allowed;
    }
    span a {
      color: currentColor;
      display: inline-block; /* For IE11/ MS Edge bug */
      pointer-events: none;
      text-decoration: none;
    }
  }

  // selection css
  .seasonlease {
    background: #232323 none repeat scroll 0 0;
    padding: 4px 2px;
    text-align: center;
    ul {
      display: flex;
      -webkit-display: flex;
      justify-content: space-between;
      list-style: none;
      padding-left: 0px;
      li {
        // color: #fff;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .blue {
          background: #00aeef none repeat scroll 0 0;
        }
        .green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
  }
  .leaseresult {
    background: #2c2c2c none repeat scroll 0 0;
    padding: 0 15px;
    position: absolute;
    z-index: 9999;
    width: 100%;
    strong {
      color: #fff;
      display: inline-block;
      font-size: 20px;
      margin: 20px 0 30px;
    }
    .switchs {
      background: #2c2c2c;
      padding-left: 0px;
      .item-inner {
        .input-wrapper {
          .label-ios {
            color: #fff !important;
          }
          label {
            color: #fff !important;
          }
        }
      }
    }
    .switchslot {
      color: #fff !important;
      display: block;
      margin: 0 0 4px;
      vertical-align: top;
      font-size: 17px;
      .item-inner {
        border-bottom: 1px solid #2c2c2c;
        .toggle-checked .toggle-inner {
          -webkit-transform: translate3d(16px, 0, 0);
          transform: translate3d(16px, 0, 0);
          background-color: #8dc642;
        }
        .toggle-checked .toggle-icon {
          background-color: #8dc642;
        }
        .toggle-inner {
          background-color: #ff2422;
        }
        .toggle-icon {
          background-color: #ff2422;
        }
      }
      img {
        float: right;
        margin: -10px 0 0;
      }
    }
  }
  .item-md {
    color: #fff;
  }
  .label-ios {
    color: #000;
  }
  .round_circle {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    margin: 0 5px;
  }
  .blue {
    background: #00aeef none repeat scroll 0 0;
  }
  .green {
    background: #27ef00 none repeat scroll 0 0;
  }
  .red {
    background: #ff0000 none repeat scroll 0 0;
  }
  .success {
    background: #343434 none repeat scroll 0 0;
    margin: 0 -15px;
    padding: 15px 0;
    text-align: center;
    .done {
      background: color($colors, darkblue) none repeat scroll 0 0;
      border: medium none;
      border-radius: 3px;
      color: #fff;
      font-size: 20px;
      padding: 10px 35px;
    }
  }
  .active {
    opacity: 0.6;
  }
}
.reachmodal {
  height: 50%;
  top: 20%;
  width: 80%;
  margin: 0 auto;
  display: block;
  left: 10%;
  border-radius: 10px;
}
