<!--
  Generated template for the KeywordsrchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Search result for: '{{ navParams.get("resultfor") }}'</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="serachdata && serachdata.length">
    <ion-card *ngFor="let data of serachdata" (click)="redirecto(data)">
      <img [src]="data.image_url" />
      <ion-card-header>
        <ion-card-title
          ><span [innerHTML]="data.post_title"></span
        ></ion-card-title>
      </ion-card-header>
      <ion-card-content class="subcontent">
        <span [innerHTML]="data.post_content | safeHtml"></span>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="serachdata && serachdata.length == 0">
    <p text-center padding>
      We didn't find any results. Please try again with different search
      parameters.
    </p>
  </ng-container>
</ion-content>
