<!--
  Generated template for the NotificationtoallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Send Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-textarea  placeholder="Type here" [(ngModel)]="message"  style="height: 200px;width: 100%;"></ion-textarea>
<button ion-button (click)="sendnotification()">
  Send Notification
</button>
</ion-content>
