<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <!-- <ion-buttons end>
      <button (click)="reload()" ion-button icon-only>
        <ion-icon name="md-refresh"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <div
    #map_canvas
    id="map_canvas"
    style="height:-webkit-fill-available; display: none"
  ></div>

  <agm-map
    *ngIf="slotarea"
    [latitude]="options.lat"
    [longitude]="options.lng"
    [zoom]="options.zoom"
    [mapTypeId]="'hybrid'"
    (mapReady)="changeTilt($event)"
    (touchstart)="touchstart($event)"
  >
    <agm-rectangle
      *ngIf="slotarea.prop_area_shape_type == 'rectangle'"
      [north]="auth.slotnorth(slotarea.prop_area_shape_cords)"
      [east]="auth.sloteast(slotarea.prop_area_shape_cords)"
      [south]="auth.slotsouth(slotarea.prop_area_shape_cords)"
      [west]="auth.slotwest(slotarea.prop_area_shape_cords)"
      [fillColor]="slotarea.prop_area_shape_fillcolor"
      [fillOpacity]="0"
      [strokeOpacity]="1"
      [strokeColor]="slotarea.prop_area_shape_fillcolor"
      [strokePosition]="options.strokePos"
      [strokeWeight]="options.strokeWeight"
    >
    </agm-rectangle>
    <agm-polygon
      *ngIf="slotarea.prop_area_shape_type == 'polygon'"
      [paths]="slotarea.prop_area_shape_cord"
      [fillColor]="slotarea.prop_area_shape_fillcolor"
      [fillOpacity]="0"
      [strokeColor]="slotarea.prop_area_shape_fillcolor"
      [strokeOpacity]="1"
      [strokeWeight]="3"
    >
    </agm-polygon>
    <ng-container *ngFor="let slot_details of slotarea.all_areas">
      <ng-container *ngFor="let slot_detail of slot_details.slots_full_details">
        <agm-circle
          *ngIf="slot_detail.shapetype == 'circle'"
          [latitude]="auth.convertToint(slot_detail.slot_circle_lat)"
          [longitude]="auth.convertToint(slot_detail.slot_circle_lng)"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeOpacity]="1"
          [radius]="auth.convertToint(slot_detail.slot_circle_radious)"
          [strokeColor]="slot_detail.slot_color"
          [strokePosition]="options.strokePos"
          [strokeWeight]="options.strokeWeight"
        ></agm-circle>
        <agm-polygon
          *ngIf="slot_detail.shapetype == 'polygon'"
          [paths]="slot_detail.slot_coordinate"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeColor]="slot_detail.slot_color"
          [strokeOpacity]="1"
          [strokeWeight]="options.strokeWeight"
        >
        </agm-polygon>
        <agm-rectangle
          *ngIf="slot_detail.shapetype == 'rectangle'"
          [north]="auth.slotnorth(slot_detail.slot_coordinates)"
          [east]="auth.sloteast(slot_detail.slot_coordinates)"
          [south]="auth.slotsouth(slot_detail.slot_coordinates)"
          [west]="auth.slotwest(slot_detail.slot_coordinates)"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeOpacity]="1"
          [strokeColor]="slot_detail.slot_color"
          [strokePosition]="options.strokePos"
          [strokeWeight]="options.strokeWeight"
        ></agm-rectangle>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="devices && devices.length">
      <ng-container *ngFor="let device of devices">
        <agm-marker
          *ngIf="checktime(device)"
          [latitude]="device.lat"
          [longitude]="device.lng"
          (markerClick)="getoken(device)"
          [iconUrl]="auth.locationiconUrl()"
        >
        </agm-marker
      ></ng-container>
    </ng-container>
    <!-- <ng-container *ngFor="let devices of slotdata">
      <ng-container *ngFor="let device of devices | async">
        <agm-marker
          [latitude]="device.data.lat"
          [longitude]="device.data.lng"
          (markerClick)="getoken(device)"
          [iconUrl]="auth.locationiconUrl()"
        >
        </agm-marker
      ></ng-container>
    </ng-container> -->
  </agm-map>

  <ion-fab left bottom>
    <button ion-fab color="darkblue" (click)="sendtokenall()">
      <ion-icon name="notifications-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
