<!--
  Generated template for the MyhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>myhome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button full ion-button (click)="getdata()">Get Data</button>

  <agm-map
    [latitude]="options.lat"
    [longitude]="options.lng"
    [zoom]="options.zoom"
    [mapTypeId]="'hybrid'"
  >
    <ng-container  *ngFor="let devices of slotdata; let x = index ">
      <ng-container *ngFor="let device of devices | async">
        <agm-marker [latitude]="device.data.lat" [longitude]="device.data.lng">
        </agm-marker
      ></ng-container>
    </ng-container>
  </agm-map>

  <button full ion-button (click)="clearData()">Clear Data</button>
</ion-content>
