page-profile {
  ion-content {
    background-color: #f9fafe !important;
    .error {
      border: 1px solid color($colors, err);
      margin: 0 0 10px;
      border-radius: 3px;
      padding: 0;
      p {
        color: color($colors, err);
        padding: 10px 15px;
        font-size: 16px;
        line-height: 25px;
        margin: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  .postlists {
    color: #363636;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
      }
    }
  }
  .profile {
    .prof {
      ion-input {
      }
      ion-textarea {
      }
      p {
        margin-top: 22px;
        margin-bottom: 8px;
        span {
          color: color($colors, danger);
        }
      }
      button {
        margin: 24px 0;
        background: #8dc642;
      }
    }
    .profil {
      p {
        margin-top: 22px;
        margin-bottom: 8px;
        span {
          color: color($colors, danger);
        }
      }
      ion-textarea {
        height: 150px;
      }
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
      ion-row {
        ion-col {
          .upload {
            border: 1px dashed color($colors, darkblue);
            background: none;
            ion-icon {
              border: 1px solid color($colors, darkblue);
              padding: 5px;
              color: color($colors, darkblue);
            }
          }
          p {
            color: #c0c0c0;
          }
        }
      }
    }
  }
  .morre {
    font-size: 2.8rem;
  }
}
