<!--
  Generated template for the SelectaddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Select Address</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div class="postlists" margin-top (click)="goto('AddaddressPage')">
    <ion-icon name="md-add"></ion-icon> &nbsp;Add a new address
  </div>
  <div class="postlists" margin-top>
    <ion-row>
      <ion-col col-8>
        <h6 color="darkblue">Demotest1</h6>
        <p no-margin>demo address lorem ipsum is simply text</p>
        <p no-margin>Pincode - 123456</p>
        <p no-margin>9876543210 text</p>
      </ion-col>
      <ion-col>
        <button
          no-margin
          float-right
          class="changebtn"
          ion-button
          (click)="goto('AddaddressPage')"
        >
          Edit
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <button ion-button full round color="ora" (click)="goto('CheckoutPage')">
    Deliver here
  </button>
</ion-footer>
