<!--
  Generated template for the AddnewdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add New Date</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm1" (ngSubmit)="addareas2()">
    <div class="postlists" margin-top>
      <ion-list>
        <ng-container>
          <ion-row>
            <ion-col>
              <div>
                <ion-label>Start Date</ion-label>
                <!-- <ion-datetime
                  formControlName="start_date"
                  displayFormat="DD/MM/YYYY"
                  pickerFormat="DD MMMM YYYY"
                  [min]="min"
                  (ionChange)="chngedate()"
                  [max]="max"
                ></ion-datetime> -->

                <my-date-picker
                  name="mydate"
                  [options]="myDatePickerOptions"
                  formControlName="start_date"
                  (dateChanged)="datechange(start_date)"
                  required
                ></my-date-picker>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div *ngIf="myForm1.value.start_date">
                <ion-label>End Date</ion-label>
                <!-- <ion-datetime
                  formControlName="end_date"
                  displayFormat="DD/MM/YYYY"
                  pickerFormat="DD MMMM YYYY"
                  [min]="myForm1.value.start_date"
                  [max]="max"
                  (ionChange)="chngedatemin()"
                ></ion-datetime> -->

                <my-date-picker
                  name="mydate"
                  [options]="myDatePickerOptions"
                  formControlName="end_date"
                  (dateChanged)="datechange(end_date)"
                  required
                ></my-date-picker>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Cost($ per day)</ion-label>
                <ion-input type="number" formControlName="price"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
      </ion-list>
    </div>

    <button
      ion-button
      full
      color="darkora"
      class="submitcon"
      round
      margin-top
      margin-bottom
    >
      Save
    </button>
  </form>
</ion-content>
