page-editarea {
  ion-content {
    background-color: #f9fafe !important;
  }
  ion-buttons {
    pointer-events: initial !important;
  }
  .locate {
    font-size: 1.6em;
    color: color($colors, light);
  }
  .area {
    box-shadow: 1px 1px 10px #a29e9e;
    margin: 10px 0 8px 0;
    ion-row {
      ion-col {
        ion-icon {
          font-size: 1.6em;
          padding-top: 10px;
        }
      }
    }
  }
  agm-map {
    height: inherit;
  }
  .postlistt.postp {
    // height: 100%;
  }
  .postlistt {
    box-shadow: 1px 1px 10px #a29e9e;
    padding-bottom: 8px;
    background-color: #fff;
    .postmap {
      height: 100%;
    }
    ion-row {
      border-bottom: 1px solid #e8e8e8;
      padding: 6px 0;
    }
  }
  .dtt {
    padding: 0 10px;
  }
  .dtl {
    color: #4c4c4c;
  }
  .ttl {
    padding: 14px 0 6px 4px;
    border-bottom: 1px solid #e8e8e8;
  }
  .scroll {
    height: 100%;
  }
  #map_canvas {
    width: 100%;
    height: 85%;
  }
  .color-button {
    width: 15%;
    height: 37px;
    font-size: 0;
    margin: 2px;
    float: left;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 1px 7px #ccc;
  }
  #color-palette {
    display: inline-block;
    width: -webkit-fill-available;
    margin-top: 10px;
  }
}
