<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="display == 'hidemap'">
  <ion-navbar> <ion-title>My Reservation</ion-title> </ion-navbar>
</ion-header>

<ion-header *ngIf="display == 'showmap'">
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="hidemapp()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button> </ion-buttons
    ><ion-title>Slot Location</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="display == 'hidemap'">
    <ion-searchbar
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)"
    >
    </ion-searchbar>
    <ng-container *ngIf="reservation && reservation.length">
      <ion-grid>
        <ion-row>
          <ion-col
            col-12
            col-xl-2
            col-lg-3
            col-md-4
            *ngFor="
              let reservations of reservation | search: myInput;
              let i = index
            "
          >
            <ion-card
              *ngIf="reservations.property_details[0].post_title && reservations.booking_from_date!=current_date"
            >
              <agm-map
                [latitude]="
                  auth.convertToint(
                    reservations.property_details[0].prop_area_center_lat
                  )
                "
                [longitude]="
                  auth.convertToint(
                    reservations.property_details[0].prop_area_center_lng
                  )
                "
                [zoom]="options.zoom"
                [disableDefaultUI]="false"
                [zoomControl]="false"
                [mapTypeId]="'hybrid'"
                (mapReady)="changeTilt($event)"
                #agmMap
              >
                <agm-rectangle
                  *ngIf="
                    reservations.property_details[0].prop_area_shape_type ==
                    'rectangle'
                  "
                  [north]="
                    auth.slotnorth(
                      reservations.property_details[0].prop_area_shape_cords
                    )
                  "
                  [east]="
                    auth.sloteast(
                      reservations.property_details[0].prop_area_shape_cords
                    )
                  "
                  [south]="
                    auth.slotsouth(
                      reservations.property_details[0].prop_area_shape_cords
                    )
                  "
                  [west]="
                    auth.slotwest(
                      reservations.property_details[0].prop_area_shape_cords
                    )
                  "
                  [fillColor]="'red'"
                  [fillOpacity]="0"
                  [strokeOpacity]="1"
                  [strokeColor]="'red'"
                  [strokePosition]="options.strokePos"
                  [strokeWeight]="options.strokeWeight"
                ></agm-rectangle>
                <agm-polygon
                  *ngIf="
                    reservations.property_details[0].prop_area_shape_type ==
                      'polygon' &&
                    reservations.property_details[0].prop_area_shape_cord
                  "
                  [paths]="
                    reservations.property_details[0].prop_area_shape_cord
                  "
                  [fillColor]="'red'"
                  [fillOpacity]="0"
                  [strokeColor]="'red'"
                  [strokeOpacity]="1"
                  [strokeWeight]="3"
                >
                </agm-polygon>
                <ng-container
                  *ngFor="let slot_detail of reservations.array_slots_data"
                >
                  <ng-container
                    *ngIf="
                      slot_detail.id == reservations.linked_slot_tothis_booking
                    "
                  >
                    <agm-circle
                      *ngIf="slot_detail.shapetype == 'circle'"
                      [latitude]="
                        auth.convertToint(slot_detail.slot_circle_lat)
                      "
                      [longitude]="
                        auth.convertToint(slot_detail.slot_circle_lng)
                      "
                      [fillColor]="slot_detail.slot_color"
                      [fillOpacity]="0.3"
                      [strokeOpacity]="1"
                      [radius]="
                        auth.convertToint(slot_detail.slot_circle_radious)
                      "
                      [strokeColor]="slot_detail.slot_color"
                      [strokePosition]="options.strokePos"
                      [strokeWeight]="options.strokeWeight"
                    ></agm-circle>
                    <agm-polygon
                      *ngIf="slot_detail.shapetype == 'polygon'"
                      [paths]="slot_detail.slot_coordinate"
                      [fillColor]="slot_detail.slot_color"
                      [fillOpacity]="0.5"
                      [strokeColor]="slot_detail.slot_color"
                      [strokeOpacity]="1"
                      [strokeWeight]="3"
                    >
                    </agm-polygon>
                    <agm-rectangle
                      *ngIf="slot_detail.shapetype == 'rectangle'"
                      [north]="auth.slotnorth(slot_detail.slot_coordinates)"
                      [east]="auth.sloteast(slot_detail.slot_coordinates)"
                      [south]="auth.slotsouth(slot_detail.slot_coordinates)"
                      [west]="auth.slotwest(slot_detail.slot_coordinates)"
                      [fillColor]="slot_detail.slot_color"
                      [fillOpacity]="0.3"
                      [strokeOpacity]="1"
                      [strokeColor]="slot_detail.slot_color"
                      [strokePosition]="options.strokePos"
                      [strokeWeight]="options.strokeWeight"
                    ></agm-rectangle>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      slot_detail.id != reservations.linked_slot_tothis_booking
                    "
                  >
                    <agm-circle
                      *ngIf="slot_detail.shapetype == 'circle'"
                      [latitude]="
                        auth.convertToint(slot_detail.slot_circle_lat)
                      "
                      [longitude]="
                        auth.convertToint(slot_detail.slot_circle_lng)
                      "
                      [fillColor]="'black'"
                      [fillOpacity]="0.3"
                      [strokeOpacity]="1"
                      [radius]="
                        auth.convertToint(slot_detail.slot_circle_radious)
                      "
                      [strokeColor]="'black'"
                      [strokePosition]="options.strokePos"
                      [strokeWeight]="options.strokeWeight"
                    ></agm-circle>
                    <agm-polygon
                      *ngIf="slot_detail.shapetype == 'polygon'"
                      [paths]="slot_detail.slot_coordinate"
                      [fillColor]="'black'"
                      [fillOpacity]="0.5"
                      [strokeColor]="'black'"
                      [strokeOpacity]="1"
                      [strokeWeight]="3"
                    >
                    </agm-polygon>
                    <agm-rectangle
                      *ngIf="slot_detail.shapetype == 'rectangle'"
                      [north]="auth.slotnorth(slot_detail.slot_coordinates)"
                      [east]="auth.sloteast(slot_detail.slot_coordinates)"
                      [south]="auth.slotsouth(slot_detail.slot_coordinates)"
                      [west]="auth.slotwest(slot_detail.slot_coordinates)"
                      [fillColor]="'black'"
                      [fillOpacity]="0.3"
                      [strokeOpacity]="1"
                      [strokeColor]="'black'"
                      [strokePosition]="options.strokePos"
                      [strokeWeight]="options.strokeWeight"
                    ></agm-rectangle>
                  </ng-container>
                </ng-container>
              </agm-map>
              <div
                class="ribbonr ribbon"
                *ngIf="reservations.booking_status == 'canceled'"
              >
                Cancelled
              </div>
              <div
                class="ribbong ribbon"
                *ngIf="reservations.booking_status == 'confirmed'"
              >
                Confirmed
              </div>
              <ion-card-content class="reeserve">
                <div class="reservation">
                  <ion-row>
                    <ion-col>
                      <strong
                        ><span
                          [innerHTML]="
                            reservations.property_details[0].post_title
                          "
                        ></span
                      ></strong>
                    </ion-col>
                  </ion-row>
                </div>
                <ion-row>
                  <ion-col>Slot:</ion-col>
                  <ion-col class="dtl"
                    ><ng-container
                      *ngFor="let slotname of reservations.array_slots_data"
                      ><ng-container
                        *ngIf="
                          slotname.id == reservations.linked_slot_tothis_booking
                        "
                        >{{ slotname.slotname }}</ng-container
                      ></ng-container
                    ></ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col>Unit Cost:</ion-col>
                  <ion-col class="dtl"
                    >{{ reservations.booking_product_regular_price }}</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col>Cost after discount:</ion-col>
                  <ion-col class="dtl"
                    >{{ reservations.booking_product_price_after_discount
                    }}</ion-col
                  >
                </ion-row>
                <ion-row>
                  <ion-col>Reservation Date:</ion-col>
                  <ion-col class="dtl"
                    >{{ auth.changeformat2(reservations.booking_from_date)
                    }}</ion-col
                  >
                </ion-row>
              </ion-card-content>
              <button
                ion-button
                round
                color="darkblue"
                float-right
                (click)="
                  goto1(
                    reservations.linked_slot_tothis_booking,
                    reservations,
                    reservations.property_details[0].prop_area_center_lat,
                    reservations.property_details[0].prop_area_center_lng
                  )
                "
              >
                Slot location on Map
              </button>
              <!-- <button
                ion-button
                round
                color="darkblue"
                outline
                float-right
                (click)="
                  gotodriving(
                    reservations.linked_slot_tothis_booking,
                    reservations.array_slots_data,
                    reservations.property_details.prop_area_center_lat,
                    reservations.property_details.prop_area_center_lng,
                    reservations.driving_direction_lat_long
                  )
                "
              >
                Driving Directions
              </button> -->
              <button
                ion-button
                round
                color="darkblue"
                outline
                float-right
                (click)="
                  gotodriving(
                    reservations.linked_slot_tothis_booking,
                    reservations.array_slots_data,
                    reservations,
                    reservations.property_details[0].prop_area_center_lat,
                    reservations.property_details[0].prop_area_center_lng,
                    reservations.driving_direction_lat_long
                  )
                "
              >
                Driving Directions
              </button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="reservation && !reservation.length">
      <div text-center><p>No Reservation</p></div>
    </ng-container>
  </ng-container>
  <div [hidden]="display == 'hidemap'">
    <div
      #map
      id="map"
      style="    height: -webkit-fill-available;
    width: 100%;"
    ></div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
