<!--
  Generated template for the MybookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Single User Activity Details for Land Owner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="propertyrvw">
    <ion-segment [(ngModel)]="bookings" color="primary" class="propertyrvw">
      <ion-segment-button class="boderr" value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button class="backr" value="history">
        History
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="bookings == 'upcoming'" class="price">
      <ng-container *ngIf="upcoming && upcoming.length">
        <ion-searchbar
          margin-top
          margin-bottom
          [(ngModel)]="myInput"
          placeholder="Search by user / property name "
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
        <ion-card *ngFor="let upcomings of upcoming | propertybooking: myInput">
          <div>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">User</p>
                <p>{{ upcomings.author }}</p>
              </ion-col>
              <ion-col
                ><p class="wall">Property Name</p>
                <p [innerHtml]="upcomings.booking_title"></p>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Date</p>
                <p>{{ upcomings.booking_date }}</p>
              </ion-col>
              <ion-col
                ><p class="wall">Slot</p>
                <p>{{ upcomings.slot_name }}</p>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Cost</p>
                <p>
                  <span [innerHTML]="currency"></span>
                  {{ upcomings.reserved_product_regularprice }}
                </p>
              </ion-col>
              <ion-col
                ><p class="wall">Coupon Applied</p>
                <ng-container *ngIf="upcomings.coupons">
                  <ng-container>
                    <p *ngFor="let coupons of upcomings.coupons; let i = index">
                      {{ i + 1 }}.&nbsp;{{ coupons.coupntitle }}
                    </p>
                  </ng-container>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Total</p>
                <p>
                  <span [innerHTML]="currency"></span>
                  {{ upcomings.booking_product_price_after_discount }}
                </p>
              </ion-col>
              <ion-col
                ><p class="wall">Paypal Transaction Id</p>
                <p>{{ upcomings.paypal_transaction_id_of_booking }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card></ng-container
      >
    </div>

    <div *ngIf="bookings == 'history'" class="price">
      <ng-container *ngIf="history && history.length">
        <ion-searchbar
          margin-top
          margin-bottom
          [(ngModel)]="myInput2"
          placeholder="Search by user / property name "
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
        <ion-card *ngFor="let historys of history | propertybooking: myInput2">
          <div>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">User</p>
                <p>{{ historys.author }}</p>
              </ion-col>
              <ion-col
                ><p class="wall">Property Name</p>
                <p [innerHtml]="historys.booking_title"></p>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Date</p>
                <p>{{ historys.booking_date }}</p>
              </ion-col>
              <ion-col
                ><p class="wall">Slot</p>
                <p>{{ historys.slot_name }}</p>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Cost</p>
                <p>
                  <span [innerHTML]="currency"></span>
                  {{ historys.reserved_product_regularprice }}
                </p>
              </ion-col>
              <ion-col
                ><p class="wall">Coupon Applied</p>
                <ng-container *ngIf="historys.coupons">
                  <p *ngFor="let coupons of historys.coupons; let i = index">
                    {{ i + 1 }}.&nbsp;{{ coupons.coupntitle }}
                  </p>
                </ng-container>
              </ion-col>
            </ion-row>
            <ion-row class="brdr">
              <ion-col>
                <p class="wall">Total</p>
                <p>
                  <span [innerHTML]="currency"></span>
                  {{ historys.booking_product_price_after_discount }}
                </p>
              </ion-col>
              <ion-col
                ><p class="wall">Paypal Transaction Id</p>
                <p>{{ historys.paypal_transaction_id_of_booking }}</p>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ng-container>
    </div>
  </div>
</ion-content>
