page-cancelledreservation {
  .ribbon {
    position: absolute;
    z-index: 10;
    padding: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    zoom: 1;
    right: 0%;
    min-width: 30%;
    max-width: 40%;
    height: 32px;
  }
  .ribbonr {
    background: rgb(211, 26, 26);
  }
  .ribbonr:after {
    border-color: transparent rgb(233, 87, 87);
  }
  .ribbong {
    background: rgb(18, 169, 18);
  }
  .ribbong:after {
    border-color: transparent rgb(136, 210, 136);
  }
  .ribbon:after {
    content: "";
    position: absolute;
    z-index: -20;
    top: 100%;
    left: auto;
    border-style: solid;
    border-width: 0 0 10px 10px;
    right: 0;
  }
  .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .showmap {
    display: inherit;
  }
  .hidemap {
    display: none;
  }
  .mrbtn {
    span {
      align-items: unset;
      justify-content: unset;
    }
  }
  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
  ion-content {
    background-color: #f9fafe !important;
  }
  ion-searchbar {
    width: -webkit-fill-available;
    margin: 10px 0px 0px 0px;
  }
  .dtl {
    color: color($colors, fauji);
  }
  .searchgroup {
    padding-top: 16px;
    ion-row {
      ion-col {
        ion-item {
          .item-inner {
            padding-right: 0 !important;
            ion-input {
              .text-input {
                margin: 13px 2px;
                width: calc(100% - 4px - 2px);
              }
            }
          }
        }
      }
    }
  }
  .item-inner {
    border-bottom: none !important;
  }
  .col {
    padding: 0;
  }
  .res {
    width: 100%;
    padding: 0px 0 20px 0;
  }
  ion-item {
    background-color: #f5f3f4 !important;
  }

  .reservation {
    font-family: opensans-bold;
    font-size: 17px;
  }
  .managewallet {
    border: 1px solid #eeeeee;
    div {
      div {
        background: #f5f3f4;
        padding: 8px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
  }
  .reeserve {
    padding: 5px;
    button {
      border-right-width: 1px !important;
      border-left-width: 1px !important;
    }
    ion-row {
      border-bottom: 1px solid #e1e1e1;
      padding: 8px 0 2px 0px;
    }
  }
  .wallet {
    background: none;
    div {
      p {
        background: #f5f3f4;
        padding: 13px 8px;
        margin: 0px;
      }
    }
    .wall {
      padding: 10px 0;
      font-weight: bold;
      margin: 10px 0 0 0;
    }
  }
  .mapcanvas {
    height: 200px;
  }
  agm-map {
    height: 200px;
  }
}
