<!--
  Generated template for the MypropertiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>My Properties</ion-title> </ion-navbar>
</ion-header>

<ion-content>
  <div [ngClass]="status ? 'success' : 'danger'">
    <button
      ion-button
      full
      round
      class="addnwproprty"
      color="darkora"
      (click)="goto('AddnewpropertyPage')"
    >
      <ion-icon name="md-add-circle"></ion-icon>&nbsp;Add New Property
    </button>
    <ion-searchbar
      [(ngModel)]="myInput"
      placeholder="Search by property name"
      [showCancelButton]="shouldShowCancel"
    >
    </ion-searchbar>
    <ng-container *ngIf="myproperties && myproperties.length">
      <ion-grid>
        <ion-row>
          <ion-col
            col-12
            col-xl-2
            col-lg-3
            col-md-4
            *ngFor="
              let property of myproperties | search: myInput;
              let i = index
            "
          >
            <ion-card>
              <div
                class="parti"
                *ngIf="
                  property.linked_images &&
                  property.linked_images[0] &&
                  property.linked_images[0]
                "
              >
                <img
                  *ngIf="property.linked_images[0]"
                  [src]="property.linked_images[0].image_url"
                  class="property_image"
                />
              </div>
              <ion-row>
                <ion-col col-7>
                  <div class="price">
                    <div class="reservation">
                      <div [innerHtml]="property.property_name"></div>
                    </div>
                  </div>
                </ion-col>
                <ion-col col-4>
                  <button
                    round
                    ion-button
                    class="pblish"
                    color="darkblue"
                    *ngIf="property.property_status == 'publish'"
                  >
                    Published
                  </button>
                  <button
                    round
                    ion-button
                    class="pblish"
                    color="danger"
                    *ngIf="property.property_status != 'publish'"
                  >
                    Disabled
                  </button>
                </ion-col>
                <ion-col col-1 text-center>
                  <button
                    ion-button
                    icon-only
                    clear
                    class="mrbtn"
                    (click)="clickEvent(property, i)"
                  >
                    <ion-icon name="md-more" class="mor" text-right></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <ion-row class="brdr">
                <ion-col>
                  <p class="wall">Slot</p>
                  <p *ngIf="property.available_number_of_slots">
                    Available number of slot's
                    {{ property.available_number_of_slots }}
                  </p>
                </ion-col>
                <ion-col
                  ><p class="wall">Expires on</p>
                  <p *ngIf="property.biggest_expirydate_of_property">
                    {{ property.biggest_expirydate_of_property }}
                  </p>
                </ion-col>
              </ion-row>
              <ion-row class="brdr">
                <ion-col>
                  <p class="wall">Listed in</p>
                  <p
                    *ngIf="
                      property.property_action && property.property_category
                    "
                  >
                    <span [innerHTML]="property.property_action"></span> for
                    <span [innerHTML]="property.property_category"></span>
                  </p>
                </ion-col>
                <ion-col
                  ><p class="wall">Price</p>
                  <p>
                    <ng-container *ngIf="property.curency_symbol"
                      ><span [innerHTML]="property.curency_symbol"></span
                    ></ng-container>
                    <ng-container
                      *ngIf="
                        !property.property_min_price &&
                        !property.property_max_price
                      "
                      >0.00</ng-container
                    >
                    <ng-container
                      *ngIf="
                        property.property_min_price ==
                        property.property_max_price
                      "
                      >{{ property.property_min_price }}</ng-container
                    >
                    <ng-container
                      *ngIf="
                        property.property_min_price &&
                        property.property_min_price !=
                          property.property_max_price
                      "
                    >
                      {{ property.property_min_price }} -
                      {{ property.property_max_price }}
                    </ng-container>
                  </p>
                </ion-col>
              </ion-row>
              <ion-row class="brdr">
                <ion-col>
                  <p class="wall">City</p>
                  <p>{{ property.property_admin_area }}</p>
                </ion-col>
                <ion-col
                  ><p class="wall">Area</p>
                  <p>
                    {{
                      auth.convertToint(property.prop_total_area)
                        | number: "1.2-2"
                    }}
                    Acres
                  </p>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container
      *ngIf="
        (myproperties && myproperties.length == 0) ||
        myproperties == undefined ||
        myproperties == null
      "
    >
      <p text-center>No Property created yet</p>
    </ng-container>
  </div>
  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <button
        ion-button
        color="darkblue"
        full
        (click)="goto('EditpropertyPage')"
      >
        Edit</button
      ><button
        ion-button
        color="darkblue"
        full
        (click)="presentAlertConfirm('delete')"
      >
        Delete</button
      ><button
        ion-button
        color="darkblue"
        full
        *ngIf="selected.property_status == 'publish'"
        (click)="presentAlertConfirm('disable')"
      >
        Disable</button
      ><button
        ion-button
        color="darkblue"
        full
        *ngIf="selected.property_status != 'publish'"
        (click)="presentAlertConfirm('enable')"
      >
        Publish</button
      ><button
        ion-button
        color="darkblue"
        full
        *ngIf="selected.prop_featured == '0'"
        (click)="presentAlertConfirm('feature')"
      >
        Set as Featured</button
      ><button
        ion-button
        color="darkblue"
        full
        *ngIf="selected.prop_featured != '0'"
      >
        Featured</button
      ><button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>
</ion-content>
