page-myproperties {
  .brdr {
    border-bottom: 1px solid color($colors, lightgrey);
  }
  .mrbtn {
    width: inherit;
    min-width: 0.9em;
    height: auto;
  }
  .reservation {
    color: #363636;
    font-family: opensans-bold;
    font-size: 17px;
    display: -webkit-box;
    height: 24px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ion-col {
    .wall {
      font-weight: bolder;
      font-size: 13px !important;
      color: color($colors, darkblue);
    }
    p {
      font-size: 13px !important;
    }
  }
  .addnwproprty {
    margin: 8px;
    width: -webkit-fill-available;
  }
  .pblish {
    height: 2.6rem !important;
    font-size: 1.1rem !important;
    margin: 0 !important;
    width: -webkit-fill-available !important;
  }
  .mor {
    font-size: 2em;
    color: color($colors, fauji);
    text-align: center !important;
  }
  .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .success {
    opacity: 0.15;
  }
}
