page-editareainfo {
  ion-content {
    background-color: #f9fafe !important;
  }
  .form-control.ng-invalid {
    border-left: 5px solid red;
  }
  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
  .area {
    // div {
    .slots {
      padding: 14px 0;
      background: #ffffff;
      color: color($colors, darkblue);
      border-top: 1px solid color($colors, darkblue);
      border-bottom: 1px solid color($colors, darkblue);
      ion-col {
        text-align: center;
      }
    }
    .slotss {
      ion-col {
        ion-icon {
          display: inline-block;
          font-size: 2em;
          float: right;
          padding-top: 5px;
        }
        p {
          margin-bottom: 0;
          margin-top: 8px;
          text-align: center;
        }
      }
      // }
      ion-segment {
        .boder {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
        .back {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
      }
    }
    .naslot {
      padding: 9px;
    }
  }
  .postlists {
    color: #363636;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
      }
    }
    ion-list {
      margin-top: 0 !important;
    }
    .dat {
      text-align: right;
    }
  }
  agm-map {
    height: 300px;
  }

  .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
  .success {
    opacity: 0.15;
  }
}
