page-propertiesdetail {
  ion-content {
    background-color: #f9fafe !important;
  }
  ion-slide {
    width: 100% !important;
  }
  ion-footer {
    background: #fff;
    height: fit-content;
    img {
      bottom: -2px;
      position: relative;
    }
  }
  .activityclr {
    color: #4f5bfb;
    font-weight: bold;
  }
  .adverbanner {
    .slide-zoom {
      background: #fff;
    }
    p {
      margin: 0;
    }
    .swiper-pagination {
      display: none;
    }
  }
  .sqbox {
    height: 20px;
    width: 20px;
    float: left;
  }
  .listing_detail {
    width: 50%;
    float: left;
    padding: 6px 0px;
    text-transform: capitalize;
  }
  .warning {
    color: color($colors, danger);
    padding: 8px;
    height: 56px;
  }
  .postdes {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ion-datetime {
    padding: 8px 10px 0 0 !important;
    display: inline-grid;
  }
  .calndr {
    display: -webkit-inline-box;
    margin-right: 12px;
    margin-top: 0px;
  }
  agm-map {
    height: 380px;
    margin: 0 auto;
    display: block;
    width: 100%;
    // touch-action: none;
    .agm-map-container-inner[_ngcontent-c1] {
      width: 100%;
    }
  }
  .maploader {
    position: absolute;
    padding-top: 12em;
    z-index: 2;
    top: 0;
    margin: 0 auto;
    display: block;
    width: 100%;
    img {
      margin: 0 auto;
      display: block;
      width: 20%;
    }
  }
  .btnclear {
    width: 0px !important;
    color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    pointer-events: none !important;
  }
  .lanoname {
    font-weight: bold;
    color: color($colors, primary);
  }
  .mydp .selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    pointer-events: none;
  }
  .postlists {
    z-index: 99;
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 42px;
    background: #fff;
    height: fit-content;
    width: 100%;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      display: grid;
      // right: 8px;
      position: relative;
      top: 2px;
      font-size: 2rem;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
    .part {
      border-bottom: 1px solid color($colors, fauji);
    }
  }
  .swiper-pagination-bullet {
    // background: color($colors, light);
    // opacity: 1;
    // width: 12px;
    // height: 6px;
    // border-radius: 10px;
  }
  .swiper-pagination-bullet-active {
    // background: color($colors, darkblue);
  }

  .addslot {
    margin-left: 15px;
    margin-right: 15px;
    width: -webkit-fill-available;
  }
  .reservation {
    background: #ececec none repeat scroll 0 0;
    text-align: center;
    position: relative;
    .heart {
      position: absolute;
      width: 45px;
      height: 45px;
      background: color($colors, light);
      border-radius: 50%;
      text-align: center;
      bottom: -18px;
      right: 50px;
      z-index: 9;
      ion-icon {
        color: color($colors, danger);
        line-height: 48px;
        font-size: 30px;
        padding: 0px;
      }
    }
    .eye {
      position: absolute;
      width: 45px;
      height: 45px;
      background: #ffffff;
      border-radius: 50%;
      text-align: center;
      bottom: -18px;
      right: 2px;
      z-index: 9;
      ion-icon {
        color: #c8c8c8;
        line-height: 42px;
        font-size: 30px;
      }
    }
    ion-slides {
      p {
        position: absolute;
        color: #fff;
        right: 12px;
        bottom: 0;
      }
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
    ul {
      background: #ececec none repeat scroll 0 0;
      padding: 0 0 5px 0;
      margin: 0px;
      li {
        color: #2b1e14;
        display: inline-block;
        font-size: 20px;
        margin: 0 6px;
        padding: 4px 0;
        vertical-align: middle;
      }
      .photo img {
        margin-right: 10px;
        vertical-align: top;
        width: 25px;
      }
    }
  }
  .postlist {
    border-bottom: none;
    .strong {
      font-family: "OpenSans-Bold";
      font-size: 19px;
      line-height: 30px;
      padding: 0px 15px 5px 15px;
      width: 100%;
      vertical-align: top;
    }
    .locname {
      color: #9fa0a2;
      font-size: 18px;
      padding: 5px 15px 0;
      ion-icon {
        font-size: inherit;
      }
    }
    .address {
      padding: 0 15px;
      color: #9fa0a2;
      .lease {
        margin: 10px 0 10px 0;
        .round_circle {
          margin-left: 0;
          margin-right: 10px;
        }
        // .green {
        //   background: color($colors, darkblue) none repeat scroll 0 0;
        //   box-shadow: 1px 0px 7px #ece9e9;
        //   border: 4px solid color($colors, light);
        //   border-radius: 50%;
        //   display: inline-block;
        //   height: 10px;
        //   width: 10px;
        //   vertical-align: sub;
        //   margin: 0 5px 0 0;
        // }
      }
      .perday {
        margin: 10px 0 0 0;
        b {
          color: #363636;
          font-family: opensans-bold;
          font-size: 18px;
        }
      }
    }
  }
  .round_circle {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    margin: 0 5px;
  }
  .blue {
    background: #00aeef none repeat scroll 0 0;
  }
  .green {
    background: #27ef00 none repeat scroll 0 0;
  }
  .red {
    background: #ff0000 none repeat scroll 0 0;
  }
  .proinformation {
    background-color: #f9fafe;
    padding-bottom: 50px;
    .listgroup {
      clear: both;
      background: #f9fafe none repeat scroll 0 0;
      // border: 1px solid #fff;
      margin: auto;
      padding: 0 15px 0 15px;
      margin-bottom: 10px;
      ion-row {
        border-bottom: 1px solid color($colors, lightgrey);
        padding-bottom: 4px;
      }
      .sto {
        color: #363636;
        font-family: opensans-bold;
        font-size: 15px;
        border-bottom: 1px solid color($colors, lightgrey);
        font-weight: bold;
        padding-bottom: 8px;
        padding-top: 10px;
      }
      p {
        color: #5d5d5d;
        font-size: 14px;
        line-height: 20px;
        margin-top: 6px;
        margin-bottom: 0;
        label {
          font-family: opensans-bold;
        }
      }
      ul {
        list-style: outside none disc;
        padding: 8px 0 0 0;
        margin: 0px;
        li {
          color: #5d5d5d;
          display: inline-block;
          padding: 4px 0;
          width: 48%;
          color: #5d5d5d;
          font-size: 14px;
          border-bottom: 1px solid color($colors, lightgrey);
          span {
            font-weight: bolder;
            color: color($colors, darkblue);
            font-size: 25px;
            vertical-align: sub;
            // line-height: 50px;
          }
        }
      }
    }
  }
  .reviewcolumn {
    padding: 0 15px;
    strong {
      color: #363636;
      display: inline-block;
      font-family: opensans-bold;
      padding: 20px 0;
      font-size: 16px;
    }
    .media {
      margin: 0 0 25px;
    }
    .media-left,
    .media {
      padding-right: 10px;
    }
    .media-left {
      display: table-cell;
      vertical-align: top;
      img {
        max-width: none !important;
      }
    }
    .media-body,
    .media-right {
      display: table-cell;
      vertical-align: top;
    }
    .media-body {
      h4 {
        color: #5d5d5d;
        font-family: opensans-bold;
        margin: 0px;
      }
      p {
        color: #5d5d5d;
        line-height: 28px;
        margin-top: 10px;
        font-size: 16px;
      }
    }
    .reviewrow {
      color: #5d5d5d;
      margin: 10px 0;
      font-size: 16px;
    }
    .review {
      color: #5d5d5d;
      display: inline-block;
      font-size: 20px;
    }
    .rating span {
      color: #acacac;
      font-size: 24px;
    }
    .likeicon {
      background-image: url(../assets/images/like.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      height: 31px;
      margin-top: 10px;
      padding: 8px 37px;
      width: 31px;
    }
  }
  ion-footer {
    .toolbar-background {
      background: color($colors, darkblue);
    }
  }
  .properties {
    ion-icon {
      font-size: 2.8rem;
    }
    button {
      padding-left: 12px;
    }
  }
  .canbtn {
    background-color: color($colors, light);
    color: color($colors, darkblue);
  }
}
