<ion-header>
  <ion-navbar>
    <ion-title></ion-title>

    <ion-buttons end class="properties">
      <button ion-button color="light" *ngIf="added && added.length">
        <countdown
          #countdown
          *ngIf="displaytimer && auth.getcarttime()"
          [config]="{ leftTime: endatetime }"
          (finished)="yourOwnFunction()"
          >$!m!:$!s!mins</countdown
        >
      </button>
      <button ion-button (click)="propertyshare(property)">
        <ion-icon name="md-share"></ion-icon>
      </button>
      <button ion-button (click)="goto('MycartPage')">
        <ion-icon name="cart"
          ><ion-badge
            id="notifications-badge"
            *ngIf="added && added.length"
            color="danger"
            >{{ added.length }}</ion-badge
          ></ion-icon
        >
      </button></ion-buttons
    ></ion-navbar
  >
</ion-header>

<ion-content>
  <ng-container *ngIf="mapview">
    <div class="reservation">
      <div class="heart" (click)="favorite(property.ID, auth.getuserId())">
        <ng-container *ngIf="property.is_fav == 1"
          ><button ion-button icon-only clear>
            <ion-icon name="md-heart" color="danger"></ion-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="property.is_fav == 0">
          <button ion-button icon-only clear>
            <ion-icon name="md-heart-outline" color="danger"></ion-icon>
          </button>
        </ng-container>
      </div>
      <div
        class="eye"
        (click)="goto('FeatureimagePage', property.linked_images)"
      >
        <ion-icon name="ios-eye"></ion-icon>
      </div>
      <ng-container
        *ngIf="
          property.linked_images &&
          property.linked_images.length &&
          property.linked_images[0]
        "
      >
        <img
          (click)="gotomodal('FeatureimagePage', property.linked_images)"
          [src]="property.linked_images[0].image_url"
      /></ng-container>
      <ng-container *ngIf="property.linked_images == undefined">
        <img
          src="https://beta.doveblasters.com/wp-content/themes/wprentals-child/img/defaultimage_prop.jpg"
        />
      </ng-container>
    </div>
    <div class="postlist">
      <div class="address">
        <div class="perday">
          <b
            ><ng-container
              *ngIf="property.property_min_price == property.property_max_price"
              ><span [innerHTML]="property.curency_symbol"></span
              >{{ property.property_min_price }}</ng-container
            ><ng-container
              *ngIf="property.property_min_price != property.property_max_price"
              ><span [innerHTML]="property.curency_symbol"></span
              >{{ property.property_min_price }}-<span
                [innerHTML]="property.curency_symbol"
              ></span
              >{{ property.property_max_price }}</ng-container
            >
            Per Day</b
          >
        </div>
      </div>
      <div class="strong">
        <span [innerHTML]="property.property_name"></span>
      </div>
      <div class="locname">
        <ion-icon name="md-pin"></ion-icon> &nbsp;<ng-container
          *ngIf="property.property_address"
          >{{ property.property_address | titlecase }}</ng-container
        ><ng-container *ngIf="!property.property_address">{{
          property.property_country | titlecase
        }}</ng-container>
      </div>
      <div class="address">
        <ion-row *ngIf="property.property_action">
          <ion-col>
            <div class="lease" (click)="gotolandowner(property)">
              <span class="round_circle green"></span
              ><span [innerHTML]="property.property_action"></span
              >&nbsp;&nbsp;&nbsp;by &nbsp;{{ property.landowner_fullname }}
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="proinformation">
      <ion-row *ngIf="property.available_dates_first_format1">
        <ion-col text-right>
          <my-date-picker
            name="mydate"
            [options]="myDatePickerOptions"
            [(ngModel)]="model"
            (ngModelChange)="datechange(model)"
            required
          ></my-date-picker>
        </ion-col>
      </ion-row>
      <div *ngIf="options" style="position:relative">
        <button
          ion-button
          icon-only
          color="light"
          style="    position: absolute;
          z-index: 10;
          right: 20px;
          top: 8px;"
          (click)="fullview()"
          *ngIf="!showloadingonmap"
        >
          <ion-icon name="expand" color="darkgrey"></ion-icon>
        </button>
        <!-- <div #map id="map" style="height:280px; z-index: 1;"></div> -->

        <!-- Agm Map Starts -->
        <agm-map
          *ngIf="property"
          [latitude]="auth.convertToint(property.prop_area_center_lat)"
          [longitude]="auth.convertToint(property.prop_area_center_lng)"
          [zoom]="property.prop_area_currnt_zoom"
          (mapReady)="changeTilt($event)"
          [mapTypeControl]="true"
          [disableDefaultUI]="false"
        >
          <agm-rectangle
            *ngIf="property.prop_area_shape_type == 'rectangle'"
            [north]="auth.slotnorth(property.prop_area_shape_cords)"
            [east]="auth.sloteast(property.prop_area_shape_cords)"
            [south]="auth.slotsouth(property.prop_area_shape_cords)"
            [west]="auth.slotwest(property.prop_area_shape_cords)"
            [fillColor]="property.prop_area_shape_fillcolor"
            [fillOpacity]="0"
            [strokeOpacity]="1"
            [strokeColor]="property.prop_area_shape_fillcolor"
            [strokePosition]="options.strokePos"
            [strokeWeight]="options.strokeWeight"
            [zIndex]="1"
          >
          </agm-rectangle>
          <agm-polygon
            *ngIf="property.prop_area_shape_type == 'polygon'"
            [paths]="property.prop_area_shape_cord"
            [fillColor]="property.prop_area_shape_fillcolor"
            [fillOpacity]="0"
            [strokeColor]="property.prop_area_shape_fillcolor"
            [strokeOpacity]="1"
            [strokeWeight]="3"
            [zIndex]="1"
          >
          </agm-polygon>
          <ng-container
            *ngIf="property.slot_details && property.slot_details.length"
          >
            <ng-container *ngFor="let slot_detail of property.slot_details">
              <agm-circle
                *ngIf="slot_detail.slot_type == 'circle'"
                [latitude]="auth.convertToint(slot_detail.slot_circle_lat)"
                [longitude]="auth.convertToint(slot_detail.slot_circle_lng)"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeOpacity]="1"
                [radius]="auth.convertToint(slot_detail.slot_circle_radious)"
                [strokeColor]="slot_detail.slot_border_color"
                [strokePosition]="options.strokePos"
                [strokeWeight]="slot_detail.strokeweight"
                (circleClick)="clickslot(slot_detail)"
                [zIndex]="2"
              ></agm-circle>
              <agm-polygon
                *ngIf="slot_detail.slot_type == 'polygon'"
                [paths]="slot_detail.slot_coordinate"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeColor]="slot_detail.slot_border_color"
                [strokeOpacity]="1"
                [strokeWeight]="slot_detail.strokeweight"
                (polyClick)="clickslot(slot_detail)"
                [zIndex]="2"
              >
              </agm-polygon>
              <agm-rectangle
                *ngIf="slot_detail.slot_type == 'rectangle'"
                [north]="auth.slotnorth(slot_detail.slot_coordinates)"
                [east]="auth.sloteast(slot_detail.slot_coordinates)"
                [south]="auth.slotsouth(slot_detail.slot_coordinates)"
                [west]="auth.slotwest(slot_detail.slot_coordinates)"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeOpacity]="1"
                [strokeColor]="slot_detail.slot_border_color"
                [strokePosition]="options.strokePos"
                [strokeWeight]="slot_detail.strokeweight"
                (rectangleClick)="clickslot(slot_detail)"
                [zIndex]="2"
              ></agm-rectangle>
            </ng-container>
          </ng-container>
        </agm-map>
        <!-- Loader -->
        <div class="maploader" *ngIf="showloadingonmap">
          <img src="assets/images/loader.gif" />
        </div>
        <!-- Agm Map Ends -->
      </div>
      <ng-container
        *ngIf="property.legends_data && property.legends_data.length"
      >
        <div class="listgroup">
          <div *ngFor="let legend_data of property.legends_data" padding-top>
            <div
              [ngStyle]="{ 'background-color': legend_data.color }"
              class="sqbox"
            ></div>
            &nbsp;{{ legend_data.title }} - {{ legend_data.price_range }}
          </div>
        </div>
      </ng-container>
      <div class="listgroup">
        <p [innerHTML]="property.description"></p>
      </div>
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.property_features &&
          property.all_eminities.property_features.length
        "
      >
        <p class="sto">Property Features</p>
        <div
          class="listing_detail"
          *ngFor="let feature of property.all_eminities.property_features"
        >
          {{ feature }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.available_species &&
          property.all_eminities.available_species.length
        "
      >
        <p class="sto">Available Species</p>
        <div
          class="listing_detail"
          *ngFor="let species of property.all_eminities.available_species"
        >
          {{ species }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.permitted_weapon &&
          property.all_eminities.permitted_weapon.length
        "
      >
        <p class="sto">Permitted Weapons</p>
        <div
          class="listing_detail"
          *ngFor="let weapon of property.all_eminities.permitted_weapon"
        >
          {{ weapon }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="property.all_eminities.permitted_onproperty"
      >
        <p class="sto">Permitted on Property</p>
        <div
          class="listing_detail"
          *ngFor="let onproperty of property.all_eminities.permitted_onproperty"
        >
          {{ onproperty }}
        </div>
      </div>
      <br />

      <div class="listgroup">
        <p class="sto">Location</p>
        <ion-row *ngIf="property.property_address">
          <ion-col no-padding>
            <p><label>Address:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_address }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_county">
          <ion-col no-padding>
            <p><label>County Parish:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_county }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_city">
          <ion-col no-padding>
            <p><label>City:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_city }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_state">
          <ion-col no-padding>
            <p><label>State:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_state }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_zip">
          <ion-col no-padding>
            <p><label>Zip:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_zip }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_country">
          <ion-col no-padding>
            <p><label>Country:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_country }}</p>
          </ion-col>
        </ion-row>
      </div>
      <div class="postlists" *ngIf="show" [@slideInOut]>
        <ng-container *ngIf="selectedproperty">
          <div class="part">
            <ion-row> <ion-col> Slot </ion-col> </ion-row>
          </div>
          <ion-row *ngIf="selectedproperty.slot_name">
            <ion-col class="detail">
              Slot Name: <br />{{ selectedproperty.slot_name }}</ion-col
            >
            <ion-col class="detail">
              Date: <br />{{
                auth.changeformat2(selectedproperty.date)
              }}</ion-col
            >
            <ion-col class="detail">
              Price: <br /><span
                *ngIf="property.curency_symbol"
                [innerHTML]="property.curency_symbol"
              ></span
              >{{ selectedproperty.product_price }}</ion-col
            >
            <ion-col class="detail">
              Slot Area: <br />{{
                auth.convertArea1(selectedproperty.slot_area)
              }}
              Acres</ion-col
            >
          </ion-row>
          <ion-row *ngIf="selectedproperty.area_details">
            <ion-col>
              <h5>Description:</h5>
              <p [innerHTML]="selectedproperty.area_details"></p>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="userinfo">
            <ion-row>
              <ion-col>
                <p><b>Name</b></p>
                <p
                  *ngIf="
                    userinfo.first_name &&
                    userinfo.first_name[0] &&
                    userinfo.last_name &&
                    userinfo.last_name[0]
                  "
                >
                  <ng-container>
                    {{ userinfo.first_name[0] }} &nbsp;{{
                      userinfo.last_name[0]
                    }}
                  </ng-container>
                </p>
              </ion-col>
              <ion-col>
                <p><b>Username</b></p>
                <p *ngIf="userinfo.user_name">{{ userinfo.user_name }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p><b>Phone</b></p>
                <p *ngIf="userinfo.mobile && userinfo.mobile[0]">
                  <a href="tel:{{ userinfo.mobile[0] }}">{{ userinfo.mobile[0] }}</a
                    >
                </p>
              </ion-col>
              <ion-col>
                <p class="activityclr" (click)="viewactivity()">
                  <b>Activity</b>
                </p>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row *ngIf="selectedproperty.hunter_verified == 0">
            <ion-card>
              <p class="postdes warning">
                Your Mobile Number is not verified. Please verify your mobile
                number
              </p>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <button ion-button full class="canbtn" (click)="clickEvent()">
                Cancel
              </button>
            </ion-col>
            <ion-col no-padding *ngIf="selectedproperty.hunter_verified == 1">
              <button
                ion-button
                full
                color="darkblue"
                (click)="addslot(selectedproperty)"
              >
                {{ dynamicbutton }}
              </button>
            </ion-col>
          </ion-row>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!mapview">
    <div class="reservation">
      <div class="heart" (click)="favorite(property.ID, auth.getuserId())">
        <ng-container *ngIf="property.is_fav == 1">
          <button ion-button icon-only clear>
            <ion-icon name="md-heart" color="danger"></ion-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="property.is_fav == 0">
          <button ion-button icon-only clear>
            <ion-icon name="md-heart-outline" color="danger"></ion-icon>
          </button>
        </ng-container>
      </div>
      <div
        class="eye"
        (click)="gotomodal('FeatureimagePage', property.linked_images)"
      >
        <ion-icon name="ios-eye"></ion-icon>
      </div>
      <ng-container
        *ngIf="
          property.linked_images &&
          property.linked_images.length &&
          property.linked_images[0]
        "
      >
        <img
          (click)="gotomodal('FeatureimagePage', property.linked_images)"
          [src]="property.linked_images[0].image_url"
      /></ng-container>
      <ng-container *ngIf="property.linked_images == undefined">
        <img
          src="https://beta.doveblasters.com/wp-content/themes/wprentals-child/img/defaultimage_prop.jpg"
        />
      </ng-container>
    </div>
    <div class="postlist">
      <div class="address">
        <div class="perday">
          <b
            ><ng-container
              *ngIf="
                property.property_min_price == property.property_max_price ||
                property.property_min_price == 0
              "
              ><span [innerHTML]="property.curency_symbol"></span
              >{{ property.property_min_price }}</ng-container
            ><ng-container
              *ngIf="
                property.property_min_price != property.property_max_price &&
                property.property_min_price != 0
              "
              ><span [innerHTML]="property.curency_symbol"></span
              >{{ property.property_min_price }}-<span
                [innerHTML]="property.curency_symbol"
              ></span
              >{{ property.property_max_price }}</ng-container
            >
            Per Day</b
          >
        </div>
      </div>
      <div class="strong"><span [innerHTML]="property.post_title"></span></div>
      <div class="locname">
        <ion-icon name="md-pin"></ion-icon> &nbsp;<ng-container
          *ngIf="property.property_address"
          >{{ property.property_address | titlecase }}</ng-container
        ><ng-container *ngIf="!property.property_address">{{
          property.property_country | titlecase
        }}</ng-container>
      </div>
      <div class="address">
        <ion-row *ngIf="property.property_action">
          <ion-col>
            <div class="lease" (click)="gotolandowner(property)">
              <span class="round_circle green"></span
              ><span [innerHTML]="property.property_action"></span
              >&nbsp;&nbsp;&nbsp;by &nbsp;<span class="lanoname">{{
                property.landowner_fullname
              }}</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <div class="proinformation">
      <ion-row *ngIf="property.available_dates_first_format1">
        <ion-col text-right>
          <my-date-picker
            name="mydate"
            [options]="myDatePickerOptions"
            [(ngModel)]="model"
            required
            (ngModelChange)="datechange(model)"
          ></my-date-picker>
        </ion-col>
      </ion-row>
      <div *ngIf="options" style="position:relative">
        <button
          ion-button
          icon-only
          color="light"
          style="    position: absolute;
        z-index: 10;
        right: 20px;
        top: 8px;"
          (click)="fullview()"
          *ngIf="!showloadingonmap"
        >
          <ion-icon name="expand" color="darkgrey"></ion-icon>
        </button>
        <!-- <div #map id="map" style="height:280px; z-index: 1;"></div> -->
        <!-- Agm Map Starts -->
        <agm-map
          *ngIf="property"
          [latitude]="auth.convertToint(property.prop_area_center_lat)"
          [longitude]="auth.convertToint(property.prop_area_center_lng)"
          [zoom]="property.prop_area_currnt_zoom"
          (mapReady)="changeTilt($event)"
          [mapTypeControl]="true"
          [disableDefaultUI]="false"
        >
          <agm-rectangle
            *ngIf="property.prop_area_shape_type == 'rectangle'"
            [north]="auth.slotnorth(property.prop_area_shape_cords)"
            [east]="auth.sloteast(property.prop_area_shape_cords)"
            [south]="auth.slotsouth(property.prop_area_shape_cords)"
            [west]="auth.slotwest(property.prop_area_shape_cords)"
            [fillColor]="property.prop_area_shape_fillcolor"
            [fillOpacity]="0"
            [strokeOpacity]="1"
            [strokeColor]="property.prop_area_shape_fillcolor"
            [strokePosition]="options.strokePos"
            [strokeWeight]="options.strokeWeight"
            [zIndex]="1"
          >
          </agm-rectangle>
          <agm-polygon
            *ngIf="property.prop_area_shape_type == 'polygon'"
            [paths]="property.prop_area_shape_cord"
            [fillColor]="property.prop_area_shape_fillcolor"
            [fillOpacity]="0"
            [strokeColor]="property.prop_area_shape_fillcolor"
            [strokeOpacity]="1"
            [strokeWeight]="3"
            [zIndex]="1"
          >
          </agm-polygon>
          <ng-container
            *ngIf="property.slot_details && property.slot_details.length"
          >
            <ng-container *ngFor="let slot_detail of property.slot_details">
              <agm-circle
                *ngIf="
                  slot_detail.slot_type == 'circle' &&
                  property.prop_area_shape_cords
                "
                [latitude]="auth.convertToint(slot_detail.slot_circle_lat)"
                [longitude]="auth.convertToint(slot_detail.slot_circle_lng)"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeOpacity]="1"
                [radius]="auth.convertToint(slot_detail.slot_circle_radious)"
                [strokeColor]="slot_detail.slot_border_color"
                [strokePosition]="options.strokePos"
                [strokeWeight]="slot_detail.strokeweight"
                (circleClick)="clickslot(slot_detail)"
                [zIndex]="2"
              ></agm-circle>
              <agm-polygon
                *ngIf="
                  slot_detail.slot_type == 'polygon' &&
                  property.prop_area_shape_cords
                "
                [paths]="slot_detail.slot_coordinate"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeColor]="slot_detail.slot_border_color"
                [strokeOpacity]="1"
                [strokeWeight]="slot_detail.strokeweight"
                (polyClick)="clickslot(slot_detail)"
                [zIndex]="2"
              >
              </agm-polygon>
              <agm-rectangle
                *ngIf="
                  slot_detail.slot_type == 'rectangle' &&
                  property.prop_area_shape_cords
                "
                [north]="auth.slotnorth(slot_detail.slot_coordinates)"
                [east]="auth.sloteast(slot_detail.slot_coordinates)"
                [south]="auth.slotsouth(slot_detail.slot_coordinates)"
                [west]="auth.slotwest(slot_detail.slot_coordinates)"
                [fillColor]="slot_detail.slot_color"
                [fillOpacity]="0.3"
                [strokeOpacity]="1"
                [strokeColor]="slot_detail.slot_border_color"
                [strokePosition]="options.strokePos"
                [strokeWeight]="slot_detail.strokeweight"
                (rectangleClick)="clickslot(slot_detail)"
                [zIndex]="2"
              ></agm-rectangle>
            </ng-container>
          </ng-container>
        </agm-map>
        <!-- Loader -->
        <div class="maploader" *ngIf="showloadingonmap">
          <img src="assets/images/loader.gif" />
        </div>
        <!-- Agm Map Ends -->
      </div>

      <ng-container
        *ngIf="property.legends_data && property.legends_data.length"
      >
        <div class="listgroup">
          <div *ngFor="let legend_data of property.legends_data" padding-top>
            <div
              [ngStyle]="{ 'background-color': legend_data.color }"
              class="sqbox"
            ></div>
            &nbsp;{{ legend_data.title }} - {{ legend_data.price_range }}
          </div>
        </div>
      </ng-container>
      <div class="listgroup">
        <p [innerHTML]="property.post_content"></p>
      </div>
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.property_features &&
          property.all_eminities.property_features.length
        "
      >
        <p class="sto">Property Features</p>
        <div
          class="listing_detail"
          *ngFor="let feature of property.all_eminities.property_features"
        >
          {{ feature }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.available_species &&
          property.all_eminities.available_species.length
        "
      >
        <p class="sto">Available Species</p>
        <div
          class="listing_detail"
          *ngFor="let species of property.all_eminities.available_species"
        >
          {{ species }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="
          property.all_eminities.permitted_weapon &&
          property.all_eminities.permitted_weapon.length
        "
      >
        <p class="sto">Permitted Weapons</p>
        <div
          class="listing_detail"
          *ngFor="let weapon of property.all_eminities.permitted_weapon"
        >
          {{ weapon }}
        </div>
      </div>
      <br />
      <div
        class="listgroup"
        *ngIf="property.all_eminities.permitted_onproperty"
      >
        <p class="sto">Permitted on Property</p>
        <div
          class="listing_detail"
          *ngFor="let onproperty of property.all_eminities.permitted_onproperty"
        >
          {{ onproperty }}
        </div>
      </div>
      <br />
      <div class="listgroup">
        <p class="sto">Location</p>
        <ion-row *ngIf="property.property_address">
          <ion-col no-padding>
            <p><label>Address:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_address }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_county">
          <ion-col no-padding>
            <p><label>County Parish:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_county }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_city">
          <ion-col no-padding>
            <p><label>City:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_city }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_state">
          <ion-col no-padding>
            <p><label>State:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_state }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_zip">
          <ion-col no-padding>
            <p><label>Zip:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_zip }}</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="property.property_country">
          <ion-col no-padding>
            <p><label>Country:</label></p></ion-col
          >
          <ion-col no-padding>
            <p>{{ property.property_country }}</p>
          </ion-col>
        </ion-row>
      </div>

      <div class="postlists" *ngIf="show" [@slideInOut]>
        <ng-container *ngIf="selectedproperty">
          <div class="part">
            <ion-row> <ion-col> Slot </ion-col> </ion-row>
          </div>
          <ion-row *ngIf="selectedproperty.slot_name">
            <ion-col class="detail">
              Slot Name: <br />{{ selectedproperty.slot_name }}</ion-col
            >
            <ion-col class="detail">
              Date: <br />{{
                auth.changeformat2(selectedproperty.date)
              }}</ion-col
            >
            <ion-col class="detail">
              Price: <br /><span
                *ngIf="property.curency_symbol"
                [innerHTML]="property.curency_symbol"
              ></span
              >{{ selectedproperty.product_price }}</ion-col
            >
            <ion-col class="detail">
              Slot Area: <br />{{
                auth.convertArea1(selectedproperty.slot_area)
              }}
              Acres</ion-col
            >
          </ion-row>
          <ion-row *ngIf="selectedproperty.area_details">
            <ion-col>
              <h5>Description:</h5>
              <p [innerHTML]="selectedproperty.area_details"></p>
            </ion-col>
          </ion-row>
          <ng-container *ngIf="userinfo">
            <ion-row>
              <ion-col>
                <p><b>Name</b></p>
                <p
                  *ngIf="
                    userinfo.first_name &&
                    userinfo.first_name[0] &&
                    userinfo.last_name &&
                    userinfo.last_name[0]
                  "
                >
                  <ng-container>
                    {{ userinfo.first_name[0] }} &nbsp;{{
                      userinfo.last_name[0]
                    }}
                  </ng-container>
                </p>
              </ion-col>
              <ion-col>
                <p><b>Username</b></p>
                <p *ngIf="userinfo.user_name">{{ userinfo.user_name }}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p><b>Phone</b></p>
                <p *ngIf="userinfo.mobile && userinfo.mobile[0]">
                  <a href="tel:{{ userinfo.mobile[0] }}">{{ userinfo.mobile[0] }}</a
                    >
                </p>
              </ion-col>
              <ion-col>
                <p class="activityclr" (click)="viewactivity()">
                  <b>Activity</b>
                </p>
              </ion-col>
            </ion-row>
          </ng-container>
          <ion-row *ngIf="selectedproperty.hunter_verified == 0">
            <ion-card>
              <p class="postdes warning">
                Your Mobile Number is not verified. Please verify your mobile
                number
              </p>
            </ion-card>
          </ion-row>
          <ion-row>
            <ion-col no-padding>
              <button ion-button full class="canbtn" (click)="clickEvent()">
                Cancel
              </button>
            </ion-col>
            <ion-col no-padding *ngIf="selectedproperty.hunter_verified == 1">
              <button
                ion-button
                full
                color="darkblue"
                (click)="addslot(selectedproperty)"
              >
                {{ dynamicbutton }}
              </button>
            </ion-col>
          </ion-row>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col no-padding>
      <ion-slides
        *ngIf="advertisement && advertisement.length"
        class="adverbanner"
        pager
        autoplay="10000"
        loop="true"
        speed="500"
        effect="fade"
        (ionSlideDidChange)="slideChanged()"
        #Slides
      >
        <ion-slide *ngFor="let medias of advertisement; let i = index">
          <div [innerHTML]="medias.ad_bannercode"></div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-footer>
