<ion-menu id="myMenu" [content]="content">
  <ion-content class="sidecontent" #content>
    <div class="sidePro">
      <ion-item *ngIf="auth.isLogin()">
        <ion-avatar item-start>
          <img class="profilepic" src="{{ auth.getuserpic() }}" />
        </ion-avatar>
        <h2>
          <span *ngIf="!auth.isOwner()">Hunter - </span
          ><span *ngIf="auth.isOwner()">Land Owner - </span
          >{{ auth.getUsername("username") }}
        </h2>
        <p>{{ auth.getUsername("email") }}</p>
      </ion-item>
    </div>
    <ion-list class="sidemenulist" no-margin>
      <ion-row>
        <ion-col>
          <ion-input
            type="text"
            placeholder="Keyword"
            class="kwdsrc"
            [(ngModel)]="searchkey"
          ></ion-input>
        </ion-col>
        <ion-col col-4>
          <button
            ion-button
            full
            detail-none
            color="darkblue"
            (click)="searchkeyword()"
            menuClose
            class="srcbtn"
          >
            Search
          </button>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list class="sidemenulist">
      <!-- **** -->
      <!-- Home -->
      <!-- **** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="gotohome('PropertieslistviewPage')"
      >
        <img class="sideicon" src="assets/images/property.png" />Home
      </button>
      <!-- **** -->
      <!-- Notification -->
      <!-- **** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('NotificationtoallPage')"
        *ngIf="isadmin()"
      >
        <img class="sideicon" src="assets/images/property.png" />Send
        Notification
      </button>
      <!-- ************* -->
      <!-- My Properties -->
      <!-- ************* -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('MypropertiesPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/property.png" />My Properties
      </button>
      <!-- **************** -->
      <!-- Add New Property -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('AddnewpropertyPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/proprerty.png" />Add New
        Property
      </button>
      <!-- **************** -->
      <!-- Manage Coupons -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('ManagecouponsPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/manage.png" />Manage Coupons
      </button>
      <!-- **************** -->
      <!-- My Properties By User -->
      <!-- All Users -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        *ngIf="auth.isOwner()"
        (click)="goto('MypropertyownerPage')"
      >
        <img class="sideicon" src="assets/images/reservation.png" />All Users
      </button>
      <!-- **************** -->
      <!-- User Reservation -->
      <!-- User Reservations -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('MybookingPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/reservation.png" />User
        Reservations
      </button>
      <!-- **************** -->
      <!-- Today's Booking -->
      <!-- Today's Reservations -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('TodaysbookingPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/reservation.png" />Today's
        Reservations
      </button>
      <!-- **************** -->
      <!-- More -->
      <!-- **************** -->
      <button ion-item detail-none (click)="getmoreacc()">
        <img class="sideicon" src="assets/images/more.png" />More
        <ion-icon
          name="arrow-dropup"
          *ngIf="showmore"
          class="lnht"
          float-right
        ></ion-icon>
        <ion-icon
          name="arrow-dropdown"
          *ngIf="!showmore"
          float-right
          class="lnht"
        ></ion-icon>
      </button>
      <ng-container *ngIf="moremenus && moremenus.length && showmore">
        <div margin-left>
          <button
            ion-item
            menuClose
            detail-none
            *ngFor="let more of moremenus"
            margin-left
            (click)="taketomore(more.menu_item_id, more.object_id, more.object)"
          >
            {{ more.title }}
          </button>
        </div>
      </ng-container>
      <!-- **************** -->
      <!-- My Reservations -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('ReservationPage')">
        <img class="sideicon" src="assets/images/reservation.png" />My
        Reservations
      </button>
      <!-- **************** -->
      <!-- History Reservations -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('HistoryreservationPage')"
        *ngIf="!auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/reservation.png" />Reservation
        History
      </button>
      <!-- **************** -->
      <!-- Cancelled Reservations -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('CancelledreservationPage')"
        *ngIf="!auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/reservation.png" />Cancelled
        Reservations
      </button>
      <!-- **************** -->
      <!-- My Inbox -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('InboxPage')">
        <img class="sideicon" src="assets/images/inbox.png" />My Inbox
      </button>
      <!-- **************** -->
      <!-- Favourites -->
      <!-- Favorites -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('FavouritesPage')">
        <img class="sideicon" src="assets/images/favrite.png" />Favorites
      </button>
      <!-- **************** -->
      <!-- Land Owners -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('LandownersPage')">
        <img class="sideicon" src="assets/images/property.png" />Land Owners
      </button>
      <!-- **************** -->
      <!-- View Cart -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('MycartPage')">
        <img class="sideicon" src="assets/images/cart.png" />View Cart
      </button>
      <!-- **************** -->
      <!-- My Profile -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('ProfilePage')">
        <img class="sideicon" src="assets/images/profile_icon.png" />My Profile
      </button>
      <!-- **************** -->
      <!-- My Subscription -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('MysubscriptionPage')"
        *ngIf="auth.isOwner()"
      >
        <img class="sideicon" src="assets/images/subscription.png" />My
        Subscription
      </button>
      <!-- **************** -->
      <!-- Change Password -->
      <!-- **************** -->
      <button
        menuClose
        ion-item
        detail-none
        (click)="goto('ChangepasswordPage')"
      >
        <img class="sideicon" src="assets/images/changepass.png" />Change
        Password
      </button>
      <!-- **************** -->
      <!-- About App -->
      <!-- **************** -->
      <button menuClose ion-item detail-none (click)="goto('AboutappPage')">
        <img class="sideicon" src="assets/images/aboutphone.png" />About App
      </button>
      <!-- <button menuClose ion-item detail-none (click)="goto('ManagewalletPage')">
        <img class="sideicon" src="assets/images/wallet.png" />My Wallet
      </button> -->
    </ion-list>
  </ion-content>
  <ion-footer class="sidePro">
    <button menuClose ion-item detail-none (click)="logout('LoginPage')">
      Log out
    </button>
  </ion-footer>
</ion-menu>

<!--
  Disable swipe-to-go-back because it's poor UX to combine STGB with side menus
-->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
