// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom {
  display: none;
}

.pick-er {
  width: 10px;
  height: 10px;
  float: left;
  margin: 8px;
  padding: 10px;
}
.pick-er1 {
  width: 10px;
  height: 10px;
  margin: 8px;
  padding: 10px;
}
ion-scroll[scrollX] {
  white-space: nowrap;
  height: 56px;
  overflow: hidden;
  border: 1px solid #dad5d5;
  margin: 5px;

  .scroll-item {
    display: inline-block;
  }
}
.mydp .selector {
  z-index: 100000000 !important;
}
.gm-style div {
  a {
    div {
      img {
        display: none;
      }
    }
  }
}
.gmnoprint {
  div {
    a {
      display: none;
    }
  }
  .gm-style-cc {
    div {
      span {
        display: none;
      }
    }
  }
}
.profilepic {
  object-fit: cover;
}
ion-header {
  .toolbar-background {
    border-color: color($colors, darkblue);
    background: color($colors, darkblue);
  }
  button {
    ion-icon {
      color: color($colors, light);
    }
  }
  ion-title {
    .toolbar-title {
      color: color($colors, light);
    }
  }
}

ion-modal {
  // padding-top: 22px !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "OpenSans-Light";
}
.sidemenulist {
  button {
    .item-inner {
      border-bottom: none !important;
    }
  }
}
.sideicon {
  width: 14px;
  margin-right: 5px;
}
.sidePro {
  background: rgb(54, 54, 54);
  background: -moz-linear-gradient(
    45deg,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgb(54, 54, 54)),
    color-stop(0%, rgb(54, 54, 54)),
    color-stop(100%, rgb(54, 54, 54))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 100%
  );
  background: linear-gradient(
    45deg,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 0%,
    rgb(54, 54, 54) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04467b', endColorstr='#0e5083', GradientType=1 );
  button {
    background-color: color($colors, darkblue) !important;
    text-align: center;
    ion-label {
      color: color($colors, light);
    }
  }
  h2 {
    color: color($colors, light);
  }
  p {
    color: color($colors, light);
  }
  ion-item {
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, 0) !important;

    .item-inner {
      border-bottom: none !important;
    }
  }
  h5 {
    color: color($colors, light);
  }
}
ion-item {
  i {
    margin: 4px 16px 4px 0 !important;
  }
  div {
    div {
      ion-input {
        input {
          margin: 10px 8px !important;
        }
      }
    }
  }
}
.sidecontent {
  color: color($colors, fauji);
  background-color: #eeeeee;
  ion-list {
    button {
      background: #eeeeee;
      color: color($colors, fauji);
      ion-label {
        margin: 20px 8px 10px 0;
        padding: 8px 7px 0 0;
        p {
          color: #fff;
        }
      }
    }
  }
}
.back-button-text-ios {
  color: color($colors, light);
}
.properties {
  ion-icon {
    font-size: 2.2em;
  }
}
.toolbar-ios ion-title {
  padding: 0 45px 0px;
  padding-right: 0px;
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: local("../assets/fonts/OpenSans"),
    url("../assets/fonts/OpenSans.woff") format("woff");
}
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: normal;
  src: local("../assets/fonts/OpenSans-Light"),
    url("../assets/fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../assets/fonts/OpenSans-Bold"),
    url("../assets/fonts/OpenSans-Bold.woff") format("woff");
}

.daylease {
  display: inline-block;
  float: right;
  // padding-top: 7px;
  .round_circle {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    margin: 0 5px;
    background: #27ef00 none repeat scroll 0 0;
  }
}
.parti {
  position: relative;
  .price {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
    width: 100%;
  }
  .status {
    position: absolute;
    top: 0px;
    right: 0px;
    background: green;
    color: #fff;
    padding: 10px;
    p {
      color: color($colors, light);
    }
  }
}
.oraback {
  background: color($colors, darkblue);
  text-align: center;
  button {
    color: color($colors, light);
    font-weight: bold;
    font-size: 16px;
  }
}
.labeltxt {
  height: 3.4rem;
  min-height: 3.4rem;
  ion-row {
    .labelctxt {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    ion-col {
      font-size: 14px;
    }
  }
}
.icons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
ion-label {
  margin: 0 !important;
  color: color($colors, label);
}
ion-icon.back-button-icon {
  // color: color($colors, light);
}
::placeholder {
  color: #becfd7 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #becfd7 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #becfd7 !important;
}
ion-footer {
  .toolbar-background {
    background: color($colors, darkblue);
  }
}
.property_image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
.toolbar-title {
  // color: color($colors, light);
}
.sky-background {
  background: linear-gradient(
    320deg,
    rgba(209, 235, 248, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  .aligncenter {
    margin: 0 auto;
    display: block;
    // padding: 40px 0;
  }
  .loginform {
    ion-list {
      .error {
        border: 1px solid color($colors, err);
        margin: 0 0 10px;
        border-radius: 3px;
        padding: 0;
        p {
          color: color($colors, err);
          padding: 10px 15px;
          font-size: 16px;
          line-height: 25px;
          margin: 0;
        }
      }
      .message-box {
        color: color($colors, darkerblue);
        display: block;
        line-height: 24px;
        margin: 15px 0;
        font-size: 16px;
      }
    }
    .inputfield {
      margin: 0 0 10px;
      border: 1px solid color($colors, lightgrey);
      .item-inner {
        border-bottom: 1px solid #ff070700;
        ion-input {
          // color: color($colors, skyblue);
          font-size: 18px;
          line-height: 19px;
          border-radius: 3px;
        }
      }
      ion-icon {
        color: color($colors, skyblue);
        font-size: 2.2em;
        width: 25px;
      }
    }
    .inputfield:last-child {
      border-bottom: 1px solid #ff070700;
    }
    .submit-button {
      // border-radius: 3px;
      // border: none;
      // color: color($colors, light);
      // display: block;
      // font-size: 20px;
      // padding: 28px 0;
      // cursor: pointer;
      // width: 100%;
      // font-family: "OpenSans";
    }
    .forgot-password {
      color: color($colors, darkblue);
      text-align: right;
      font-size: 1.1em;
    }
    .newmember {
      margin: 30px 0;
      text-align: center;
    }
    .newmember > span {
      color: color($colors, darkgry);
      position: relative;
      display: inline-block;
      padding: 0 15px;
      font-size: 16px;
    }
    .newmember > span::before {
      background: color($colors, darkgry) none repeat scroll 0 0;
      content: "";
      height: 1px;
      left: auto;
      position: absolute;
      right: 100%;
      top: 12px;
      width: 100px;
    }
    .newmember > span::after {
      left: 100%;
      right: 0;
    }
    .newmember > span::after {
      background: color($colors, darkgry) none repeat scroll 0 0;
      content: "";
      height: 1px;
      position: absolute;
      right: 100%;
      top: 12px;
      width: 100px;
    }
    button.buttonblock.createaccount {
      background: color($colors, darkblue) none repeat scroll 0 0;
      margin: 0 0 15px;
    }
    button.buttonblock.landaccount {
      background: #381d01;
    }
    button.buttonblock {
      // background: color($colors, darkora) none repeat scroll 0 0;
      // border-radius: 3px;
      // border: none;
      // color: color($colors, light);
      // display: block;
      // font-size: 20px;
      // padding: 20px 5px;
      // cursor: pointer;
      // width: 100%;
      // font-family: "OpenSans";
    }
    p.agree {
      color: color($colors, darkerblue);
      font-size: 16px;
      line-height: 24px;
      margin-top: 23px;
      text-align: center;
      em {
        color: color($colors, darkora);
        font-style: normal;
      }
    }
    .checkbox {
      color: color($colors, darkerblue);
      margin: 30px 0 0px;
      font-size: 16px;
      em {
        color: color($colors, darkora);
        font-style: normal;
      }
    }
  }
}
footer {
  background: #363636 none repeat scroll 0 0;
  text-align: center;
  color: #fff;
  padding: 14px;
  font-weight: bold;
  bottom: 0;
}

.postlist {
  border-bottom: 10px solid #e4e4e4;
  img {
    width: 100%;
  }
  strong {
    font-family: "OpenSans-Bold";
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    display: -webkit-box;
    height: 60px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .amt {
    font-size: 22px;
    font-family: "OpenSans-Bold";
    color: #363636;
  }
  // For Big Screen
  @media screen and (min-width: 600px) and (max-width: 1024px) {
    .toolbar-ios ion-title {
      padding: 0px !important;
      // padding-top: 16px !important;
      padding-top: 44px !important;
    }
    .address {
      padding: 6px;
      ion-row {
        ion-col {
          padding: 5px 0;
        }
      }
      ion-icon {
        font-size: 1.6em;
        color: #363636;
        padding-top: 4px;
      }
      p {
        color: #5d5d5d;
        font-size: 20px;
        line-height: 28px;
        margin-left: 0;
        margin-right: 0;
        margin: 0;
      }
      .review {
        color: #5d5d5d;
        display: inline-block;
        font-size: 20px;
        b {
          color: #232323;
          font-family: "OpenSans-Bold";
        }
      }
      .daylease {
        display: inline-block;
        float: right;
        padding-top: 7px;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
          background: #27ef00 none repeat scroll 0 0;
        }
      }
    }
  }
  // For Small Screen
  @media screen and (min-width: 10px) and (max-width: 340px) {
    .toolbar-ios ion-title {
      padding: 0px !important;
      padding-top: 16px !important;
    }
  }

  // For Small Screen
  @media screen and (min-width: 340px) and (max-width: 600px) {
    .toolbar-ios ion-title {
      padding: 0px !important;
      // padding-top: 16px !important;
      padding-top: 44px !important;
    }
    .address {
      padding: 6px;
      ion-row {
        ion-col {
          padding: 5px 0;
        }
      }
      ion-icon {
        font-size: 1.4em;
        color: #363636;
        padding-top: 4px;
      }
      p {
        color: #5d5d5d;
        font-size: 18px;
        line-height: 28px;
        margin-left: 0;
        margin-right: 0;
        margin: 0;
      }
      .review {
        color: #5d5d5d;
        display: inline-block;
        font-size: 16px;
        b {
          color: #232323;
          font-family: "OpenSans-Bold";
        }
      }
      .daylease {
        display: inline-block;
        float: right;
        padding-top: 5px;
        .round_circle {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
          background: #27ef00 none repeat scroll 0 0;
        }
      }
    }
  }

  .daylease {
    display: inline-block;
    float: right;
    padding-top: 5px;
    .round_circle {
      border: 1px solid #000;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      width: 10px;
      vertical-align: middle;
      margin: 0 5px;
      background: #27ef00 none repeat scroll 0 0;
    }
  }
}

// For Big Screens
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .daylease {
    display: inline-block;
    float: right;
    padding-top: 5px;
    .round_circle {
      background: #00aeef none repeat scroll 0 0;
      border: 1px solid #000;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      width: 10px;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .round_circle.green {
    background: #27ef00 none repeat scroll 0 0;
  }
  .round_circle.red {
    background: #ff0000 none repeat scroll 0 0;
  }
  .filterpost {
    background: color($colors, darkora) none repeat scroll 0 0;
    color: color($colors, light);
    padding: 0;
    text-align: right;
    display: table !important;
    margin: 0 10px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 100% !important;
    span:first-child {
      padding: 0;
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
    span {
      font-size: 16px;
    }
    ion-icon {
      font-size: 2.8rem;
      padding: 0px;
      top: 4px;
      position: relative;
    }
  }
  .filterpostt {
    background: color($colors, fauji) none repeat scroll 0 0;
    color: color($colors, light);
    padding: 0px;
    text-align: right;
    display: table !important;
    margin: 0 10px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 100% !important;
    span:first-child {
      padding: 0;
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
    span {
      font-size: 16px;
    }
    ion-icon {
      font-size: 2.8rem;
      padding: 0px;
      top: 4px;
      position: relative;
    }
  }
  .buttonmenu {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    padding: 0 15px;
    z-index: 99999999;
    .dropdown {
      padding: 5px 0;
      position: relative;
      width: 40%;
      margin-right: 5px;
      .dropbtn {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        background-color: #efefef;
        border: 1px solid #dadada;
        border-radius: 3px;
        color: #232323;
        cursor: pointer;
        padding: 6px;
        text-transform: capitalize;
        .round_circle {
          background: #00aeef none repeat scroll 0 0;
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 5px;
        }
        .round_circle.green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .round_circle.red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
    .listview {
      .dropbtn {
        background-color: #363636;
        border-color: #363636;
        color: #fff;
        padding: 6px 6px;
        font-size: 16px;
      }
    }
    .datecal .dropbtn {
      background-color: #381d01;
      border-color: #381d01;
      color: #fff;
      padding: 6px 6px;
      font-size: 16px;
    }
    .morefeaute .dropbtn {
      background-color: #91b2c3;
      border-color: #91b2c3;
      color: #fff;
      padding: 6px 6px;
      font-size: 16px;
    }
  }
  // Top Navbar
  .toolbar-title-ios {
    .searchgroup {
      width: calc(70%) !important;
      input.searchinputfield {
        padding: 5px 54px 5px 45px !important;
      }
      .loactionfinder {
        height: 28px;
        width: 28px;
      }
    }
  }
  .searchgroup {
    display: inline-block;
    position: relative;
    // width: calc(100% - 130px);
    width: calc(100%);
    input.searchinputfield {
      background: #fff url(../assets/images/searchicon.png) no-repeat scroll
        15px center;
      border: medium none;
      border-radius: 35px;
      font-size: 16px;
      padding: 15px 60px 15px 45px;
      width: 100%;
      color: #000;
    }
    .loactionfinder {
      background: #381d01 url(../assets/images/locationfinder.png) no-repeat
        scroll center center;
      border: medium none;
      border-radius: 50%;
      height: 45px;
      left: auto;
      position: absolute;
      right: 4px;
      top: 2px;
      width: 45px;
    }
  }
  .filter {
    background: #381d01 none repeat scroll 0 0;
    border: medium none;
    border-radius: 35px;
    color: #fff;
    float: right;
    font-size: 20px;
    height: 36px;
    width: 36px;
    ion-icon {
      font-size: 2.5rem;
    }
  }
}
// For Small Screens
@media screen and (min-width: 320px) and (max-width: 600px) {
  .filterpost {
    background: color($colors, darkora) none repeat scroll 0 0;
    color: color($colors, light);
    padding: 0px;
    text-align: right;
    display: table !important;
    margin: 0 10px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 100% !important;
    span:first-child {
      padding: 0;
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
    span {
      font-size: 16px;
    }
    ion-icon {
      font-size: 1.4em;
      padding: 0px;
      top: 4px;
      position: relative;
    }
  }
  .filterpostt {
    background: color($colors, fauji) none repeat scroll 0 0;
    color: color($colors, light);
    padding: 0px;
    text-align: right;
    display: table !important;
    margin: 0 10px;
    width: -webkit-fill-available;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    height: 100% !important;
    span:first-child {
      padding: 0;
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      text-align: left;
    }
    span {
      font-size: 16px;
    }
    ion-icon {
      font-size: 1.4em;
      padding: 0px;
      top: 4px;
      position: relative;
    }
  }
  .buttonmenu {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 99999999;
    .dropdown {
      padding: 5px 0;
      position: relative;
      width: 40%;
      margin-right: 5px;
      .dropbtn {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        background-color: #efefef;
        border: 1px solid #dadada;
        border-radius: 3px;
        color: #232323;
        cursor: pointer;
        padding: 6px;
        text-transform: capitalize;
        .round_circle {
          background: #00aeef none repeat scroll 0 0;
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          height: 10px;
          width: 10px;
          vertical-align: middle;
          margin: 0 2px;
        }
        .round_circle.green {
          background: #27ef00 none repeat scroll 0 0;
        }
        .round_circle.red {
          background: #ff0000 none repeat scroll 0 0;
        }
      }
    }
    .listview {
      .dropbtn {
        background-color: #363636;
        border-color: #363636;
        color: #fff;
        padding: 6px 6px;
        font-size: 16px;
      }
    }
    .datecal .dropbtn {
      background-color: #381d01;
      border-color: #381d01;
      color: #fff;
      padding: 6px 6px;
      font-size: 16px;
    }
    .morefeaute .dropbtn {
      background-color: #91b2c3;
      border-color: #91b2c3;
      color: #fff;
      padding: 6px 6px;
      font-size: 16px;
    }
  }
  .toolbar-title-ios {
    .searchgroup {
      width: calc(70%) !important;
    }
  }
  // Top Navbar
  .searchgroup {
    display: inline-block;
    position: relative;
    // width: calc(100% - 78px);
    width: calc(100%);
    input.searchinputfield {
      background: #fff url(../assets/images/searchicon.png) no-repeat scroll 6px
        center;
      border: medium none;
      border-radius: 35px;
      font-size: 16px;
      padding: 10px 45px 10px 35px;
      width: 100%;
      color: #000;
    }
    .loactionfinder {
      background: #381d01 url(../assets/images/locationfinder.png) no-repeat
        scroll center center;
      border: medium none;
      border-radius: 50%;
      height: 36px;
      left: auto;
      position: absolute;
      right: 4px;
      top: 2px;
      width: 36px;
    }
  }
  .filter {
    background: #381d01 none repeat scroll 0 0;
    border: medium none;
    border-radius: 35px;
    color: #fff;
    float: right;
    font-size: 14px;
    height: 36px;
    width: 36px;
    ion-icon {
      font-size: 2.5rem;
    }
  }
  .toolbar-title {
    padding: 0px;
  }
}
.kwdsrc {
  border: 1px solid #ded9d9;
  box-shadow: 0px 0px 8px #ded9d9;
}
.kwdsrc.input-ios {
  padding-left: 5px;
}
.srcbtn.button-ios {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 1.8em;
}
// .listviewpop .popover-wrapper .popover-content {
//   bottom: 72px !important;
//   top: 40px !important;
//   left: 134px !important;
//   transform-origin: left top 0px !important;
//   transform: scale(1) !important;
//   width: 200px !important;
//   max-height: fit-content !important;
// }
// .dateviewpop .popover-wrapper .popover-content {
//   bottom: 0px !important;
//   left: 0 !important;
//   transform-origin: left top 0px !important;
//   transform: scale(1) !important;
//   width: 100% !important;
//   max-height: 100% !important;
// }
// .moreviewpop .popover-wrapper .popover-content {
//   bottom: 72px !important;
//   top: 84px !important;
//   left: 154px !important;
//   transform-origin: left top 0px !important;
//   transform: scale(1) !important;
//   width: 200px !important;
//   max-height: fit-content !important;
// }
.propertiesmapfilter .popover-wrapper .popover-content {
  bottom: 72px !important;
  top: 90px !important;
  left: 0px !important;
  transform-origin: left top 0px !important;
  transform: scale(1) !important;
  width: 100% !important;
  max-height: fit-content !important;
}
.propertiesmapview .popover-wrapper .popover-content {
  bottom: 0 !important;
  top: auto !important;
  left: 0px !important;
  transform-origin: left top 0px !important;
  transform: scale(1) !important;
  width: 100% !important;
  max-height: 60% !important;
}

.checklist {
  margin: 0 auto;
  vertical-align: top;
  display: block;
  padding: 33px 0 0 0;
  h3 {
    background: #232323 none repeat scroll 0 0;
    color: #fff;
    font-size: 23px;
    padding: 8px 0px;
    text-align: center;
    margin: 0;
  }
  .day {
    // padding: 30px 0;
    text-align: center;
    // height: 120px;
    strong {
      color: #232323;
      display: inline-block;
      font-family: "OpenSans-Bold";
      font-size: 24px;
      margin: 0 0 8px;
    }
    p {
      color: #5d5d5d;
      font-size: 18px;
      margin: 0;
    }
  }
}
.checklist.green h3 {
  background: #381d01 none repeat scroll 0 0;
}
.day {
  // padding: 30px 0;
  text-align: center;
  // height: 120px;
}
.green .day strong {
  color: #381d01;
}
.sticky {
  background: #f1f1f1 none repeat scroll 0 0;
  margin: 0;
  padding: 5px 0;
  font-size: 15px;
  color: #381d01;
  font-family: "OpenSans-Bold";
}

// For Small Screen
@media screen and (min-height: 412px) and (max-height: 1024px) {
  footer {
    // position: absolute;
    width: 100%;
  }
}
.lnht {
  line-height: 0.9;
}
.submitcon {
  margin-right: 16px;
  margin-left: 16px;
  width: -webkit-fill-available;
}
//////////////////////////
/////Date Picker/////////
/////////////////////////
.mydp {
  .selectorarrow {
    width: 100% !important;
  }
  .header {
    height: 50px !important;
  }
  .caltable {
    thead {
      line-height: 2.5 !important;
    }
  }
}
