<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>

    <ion-buttons end class="properties">
      <button ion-button (click)="goto('GalleryPage', media)">
        <ion-icon name="ios-apps"></ion-icon>
      </button> </ion-buttons
  ></ion-navbar>
</ion-header>

<ion-content>
  <ion-slides *ngIf="media && media.length" pager initialSlide="{{ intial }}">
    <ion-slide *ngFor="let medias of media; let i = index">
      <pinch-zoom>
        <img [src]="medias.image_url" />
      </pinch-zoom>
      <p>{{ i + 1 }} of {{ media.length }}</p>
    </ion-slide>
    <ion-slide *ngIf="video && video.embed_video_id">
      <iframe
        *ngIf="video.embed_video_type === 'youtube'"
        class="video"
        [src]="video.embed_video_id"
        frameborder="0"
        allowfullscreen
      ></iframe>
      <iframe
        class="video"
        *ngIf="video.embed_video_type === 'vimeo'"
        [src]="video.embed_video_id"
        frameborder="0"
        allowfullscreen="allowfullscreen"
      ></iframe>
    </ion-slide>
  </ion-slides>
</ion-content>
