<ion-content>
  <!-- <div #map_canvas id="map_canvas"></div> -->

  <!-- Agm Map Starts -->
  <agm-map
    *ngIf="property"
    [latitude]="auth.convertToint(property.prop_area_center_lat)"
    [longitude]="auth.convertToint(property.prop_area_center_lng)"
    [zoom]="property.prop_area_currnt_zoom"
    (mapReady)="changeTilt($event)"
    [mapTypeControl]="true"
    [disableDefaultUI]="false"
  >
    <agm-rectangle
      *ngIf="property.prop_area_shape_type == 'rectangle'"
      [north]="auth.slotnorth(property.prop_area_shape_cords)"
      [east]="auth.sloteast(property.prop_area_shape_cords)"
      [south]="auth.slotsouth(property.prop_area_shape_cords)"
      [west]="auth.slotwest(property.prop_area_shape_cords)"
      [fillColor]="property.prop_area_shape_fillcolor"
      [fillOpacity]="0"
      [strokeOpacity]="1"
      [strokeColor]="property.prop_area_shape_fillcolor"
      [strokePosition]="options.strokePos"
      [strokeWeight]="options.strokeWeight"
      [zIndex]="1"
    >
    </agm-rectangle>
    <agm-polygon
      *ngIf="property.prop_area_shape_type == 'polygon'"
      [paths]="property.prop_area_shape_cord"
      [fillColor]="property.prop_area_shape_fillcolor"
      [fillOpacity]="0"
      [strokeColor]="property.prop_area_shape_fillcolor"
      [strokeOpacity]="1"
      [strokeWeight]="3"
      [zIndex]="1"
    >
    </agm-polygon>
    <ng-container *ngIf="property.slot_details && property.slot_details.length">
      <ng-container *ngFor="let slot_detail of property.slot_details">
        <agm-circle
          *ngIf="slot_detail.slot_type == 'circle'"
          [latitude]="auth.convertToint(slot_detail.slot_circle_lat)"
          [longitude]="auth.convertToint(slot_detail.slot_circle_lng)"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeOpacity]="1"
          [radius]="auth.convertToint(slot_detail.slot_circle_radious)"
          [strokeColor]="slot_detail.slot_border_color"
          [strokePosition]="options.strokePos"
          [strokeWeight]="options.strokeWeight"
          (circleClick)="clickslot(slot_detail)"
          [zIndex]="2"
        ></agm-circle>
        <agm-polygon
          *ngIf="slot_detail.slot_type == 'polygon'"
          [paths]="slot_detail.slot_coordinate"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeColor]="slot_detail.slot_border_color"
          [strokeOpacity]="1"
          [strokeWeight]="options.strokeWeight"
          (polyClick)="clickslot(slot_detail)"
          [zIndex]="2"
        >
        </agm-polygon>
        <agm-rectangle
          *ngIf="slot_detail.slot_type == 'rectangle'"
          [north]="auth.slotnorth(slot_detail.slot_coordinates)"
          [east]="auth.sloteast(slot_detail.slot_coordinates)"
          [south]="auth.slotsouth(slot_detail.slot_coordinates)"
          [west]="auth.slotwest(slot_detail.slot_coordinates)"
          [fillColor]="slot_detail.slot_color"
          [fillOpacity]="0.3"
          [strokeOpacity]="1"
          [strokeColor]="slot_detail.slot_border_color"
          [strokePosition]="options.strokePos"
          [strokeWeight]="options.strokeWeight"
          (rectangleClick)="clickslot(slot_detail)"
          [zIndex]="2"
        ></agm-rectangle>
      </ng-container>
    </ng-container>
  </agm-map>
  <!-- Loader -->
  <div class="maploader" *ngIf="showloadingonmap">
    <img src="assets/images/loader.gif" />
  </div>
  <!-- Agm Map Ends -->

  <div class="closetab">
    <button
      ion-button
      icon-only
      color="light"
      style="    position: absolute;
        z-index: 10;
        right: 20px;
        top: 32px;"
      (click)="fullview()"
    >
      <ion-icon name="contract" color="darkgrey"></ion-icon>
    </button>
  </div>
  <div class="postlists" *ngIf="show" [@slideInOut]>
    <ng-container *ngIf="selectedproperty">
      <div class="part">
        <ion-row> <ion-col> Slot </ion-col> </ion-row>
      </div>
      <ion-row *ngIf="selectedproperty.slot_name">
        <ion-col class="detail">
          Slot Name: <br />{{ selectedproperty.slot_name }}</ion-col
        >
        <ion-col class="detail">
          Date: <br />{{ auth.changeformat2(selectedproperty.date) }}</ion-col
        >
        <ion-col class="detail">
          Price: <br /><span
            *ngIf="property.curency_symbol"
            [innerHTML]="property.curency_symbol"
          ></span
          >{{ selectedproperty.product_price }}</ion-col
        >
        <ion-col class="detail">
          Slot Area: {{ selectedproperty.slot_area }}</ion-col
        >
      </ion-row>
      <ion-row *ngIf="selectedproperty.area_details">
        <ion-col>
          <h5>Description:</h5>
          <p class="postdes" [innerHTML]="selectedproperty.area_details"></p>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="userinfo">
        <ion-row>
          <ion-col>
            <p><b>Name</b></p>
            <p
              *ngIf="
                userinfo.first_name &&
                userinfo.first_name[0] &&
                userinfo.last_name &&
                userinfo.last_name[0]
              "
            >
              <ng-container>
                {{ userinfo.first_name[0] }} &nbsp;{{ userinfo.last_name[0] }}
              </ng-container>
            </p>
          </ion-col>
          <ion-col>
            <p><b>Username</b></p>
            <p *ngIf="userinfo.user_name">{{ userinfo.user_name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Phone</b></p>
            <p *ngIf="userinfo.mobile && userinfo.mobile[0]">
              <a href="tel:{{ userinfo.mobile[0] }}">{{
                userinfo.mobile[0]
              }}</a>
            </p>
          </ion-col>
          <ion-col>
            <p class="activityclr" (click)="viewactivity()"><b>Activity</b></p>
          </ion-col>
        </ion-row>
      </ng-container>
      <ion-row>
        <ion-col no-padding>
          <button ion-button full class="canbtn" (click)="clickEvent()">
            Cancel
          </button>
        </ion-col>
        <ion-col no-padding>
          <button
            ion-button
            full
            color="darkblue"
            (click)="addslot(selectedproperty)"
          >
            {{ dynamicbutton }}
          </button>
        </ion-col>
      </ion-row>
    </ng-container>
  </div>
</ion-content>
