<!--
  Generated template for the CheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons end class="properties">
      <button ion-button color="light" *ngIf="cartdata && cartdata.length">
        <countdown
          #countdown
          *ngIf="displaytimer && auth.getcarttime()"
          [config]="{ leftTime: endatetime }"
          (finished)="yourOwnFunction()"
          >$!m!:$!s!mins</countdown
        >
      </button>
    </ion-buttons></ion-navbar
  >
</ion-header>

<ion-content>
  <!-- Checkout -->
  <ng-container *ngIf="havingdata">
    <ng-container *ngIf="!cartdata || !cartdata.length">
      <div class="profile" margin-top *ngIf="cartdata">
        <div class="crt" padding-bottom>
          <ng-container *ngIf="cartdata.cart_data && cartdata.cart_data.length">
            <ion-row
              *ngFor="let cartdatas of cartdata.cart_data; let i = index"
            >
              <ion-col>
                <ion-row>
                  <ion-col style="padding: 0 5px 5px 5px;"
                    ><h6 no-margin class="bld" color="dark">
                      <span [innerHTML]="cartdatas.property_name"></span>
                    </h6>
                    <h6 no-margin color="darkblue">
                      <span [innerHTML]="cartdata.currency_symbol"> </span>{{
                      cartdatas.price }}
                    </h6></ion-col
                  >
                </ion-row>
                <div class="slot">
                  <ion-row>
                    <ion-col no-padding><p>Slot ID:</p></ion-col>
                    <ion-col no-padding
                      ><p text-right>
                        <span text-right>{{ cartdatas.slot_name }}</span>
                      </p></ion-col
                    >
                  </ion-row>
                  <ion-row>
                    <ion-col no-padding><p>Reservation Date:</p></ion-col>
                    <ion-col no-padding
                      ><p text-right>
                        <span text-right
                          >{{ cartdatas.date_of_product | date: "mediumDate"
                          }}</span
                        >
                      </p></ion-col
                    >
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ng-container>
        </div>
      </div>

      <div class="profile " margin-top>
        <div class="carts promar">
          <ion-row>
            <ion-col> <p no-margin>Sub Total</p> </ion-col>
            <ion-col text-right>
              <span text-right
                ><span [innerHTML]="cartdata.currency_symbol"> </span>{{
                cartdata.subtotal | number: "1.2-2" }}</span
              >
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> <p no-margin>Online Booking Fee</p> </ion-col>
            <ion-col text-right>
              <span text-right
                ><span [innerHTML]="cartdata.currency_symbol"> </span>{{
                cartdata.booking | number: "1.2-2" }}</span
              >
            </ion-col>
          </ion-row>
        </div>
        <ion-row class="promar" padding-bottom>
          <ion-col> <p no-margin>Total Amount</p> </ion-col>
          <ion-col text-right>
            <span text-right color="darkblue"
              ><span [innerHTML]="cartdata.currency_symbol"> </span>{{
              cartdata.carttotal }}</span
            >
          </ion-col>
        </ion-row>
      </div>
      <button
        ion-button
        full
        color="darkblue"
        margin
        round
        style="width: -webkit-fill-available;"
        (click)="getcart()"
      >
        Proceed to Paypal
      </button>
    </ng-container>
    <button
      margin
      style="width: -webkit-fill-available;"
      ion-button
      full
      color="darkora"
      round
      (click)="gotohome('PropertieslistviewPage')"
    >
      Done
    </button>
    <p class="policy">
      Your Personal data will be used to process your order. Support your
      experience throughout this website and for other porposes described in our
      <span>privacy policy</span>.
    </p></ng-container
  >

  <ng-container *ngIf="havingdata == false">
    <p text-center>Your cart is currently empty.</p>
    <button
      margin
      style="width: -webkit-fill-available;"
      ion-button
      full
      color="darkora"
      round
      (click)="gotohome('PropertieslistviewPage')"
    >
      Done
    </button>
  </ng-container>
  <div id="paypal-button-container">
    <div id="paypal-checkout-btn"></div>
  </div>
</ion-content>
