page-checkout {
  ion-content {
    background-color: #f9fafe !important;
  }
  .bld {
    color: color($colors, dark) !important;
  }
  .profile {
    box-shadow: 0px 0px 10px #dcd7d7;
    background-color: #fff;
    h6 {
      font-weight: 600;
      color: color($colors, darkblue);
    }
    p {
      color: color($colors, fauji);
    }
    .changebtn {
      background-color: #fff;
      box-shadow: 1px 0px 5px #d8d3d3;
      border-radius: 3px;
      padding: 3px 10px;
      color: color($colors, darkblue);
      margin-bottom: 10px;
    }
    .carts {
      padding: 10px 0;
      border-bottom: 1px solid #d6d3d3;
      margin: 0 5px;
      img {
        width: 15px;
        margin-right: 5px;
      }
    }
    .promar {
      margin: 0 5px;
    }
    .profil {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
    p {
      margin-bottom: 2px;
      font-weight: 500;
      span {
        color: color($colors, danger);
      }
    }
    ion-input {
      border: 1px solid #e8e6e6;
    }
    ion-select {
      max-width: 100%;
      width: 100%;
    }
    .bor {
      border: 1px solid #e8e6e6;
      .item-inner {
        border-bottom: none !important;
      }
    }
    ion-item {
      .item-inner {
        border-bottom: none !important;
      }
      .pay {
        color: color($colors, darkblue);
      }
    }
    .youorder {
      border-bottom: 1px solid #f5f4f4;
      p {
        margin-top: 3px;
        margin-bottom: 2px;
        color: color($colors, darkblue);
        font-weight: 500;
      }
      ion-row {
        .yorder {
          font-weight: 500;
        }
      }
    }
    .payw {
      padding: 16px 0;
    }
    .crtpad {
      padding: 10px 10px 0 10px;
    }
    .crt {
      border-bottom: 1px solid #e5e4e5;
      margin-bottom: 16px;
      ion-row {
        ion-col {
          p {
            margin-top: 2px;
            margin-bottom: 2px;
            color: color($colors, darkblue);
            font-size: 1.2rem;
            span {
              color: #a7a4a6;
            }
          }
          .qty {
            // border-radius: 50%;
            background: #f3820b;
          }
          .algn {
            vertical-align: -webkit-baseline-middle;
            padding-left: 8px;
            padding-right: 8px;
          }
        }
      }
      .slot {
        border: 1px solid #f7f7f7;
        padding: 0 6px;
        box-shadow: 1px 0px 1px #f7f7f7;
      }
    }
  }
  .policy {
    font-size: 1rem;
    color: color($colors, fauji);
    padding: 0px 16px;
    span {
      color: color($colors, darkblue);
    }
  }
}
