page-drivingdirections {
  agm-map {
    height: -webkit-fill-available;
  }
  .map {
    height: 100%;
  }

  .menui {
    .menuicon {
      content: "";
      background-image: url(../assets/images/stopdirection.png);
      width: 20px;
      height: 20px;
      display: inline-block;
      background-position: center;
      background-size: cover;
    }
    span {
      width: 20px;
      margin: 0 auto;
    }
    ion-icon::before {
      display: none;
    }
  }
}
