<!--
  Generated template for the AreaslotPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>Area & Slots</ion-title> </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="area">
    <div>
      <ion-segment [(ngModel)]="slot1" color="primary">
        <ion-segment-button class="boder" value="test">
          Test
        </ion-segment-button>
        <ion-segment-button class="back" value="availability">
          Availability
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="slot1 == 'test'">
        <ion-row class="slots">
          <ion-col col-3> Slot </ion-col>
          <ion-col> Size(in acres) </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="slot1 == 'availability'">
        <ion-row class="slots">
          <ion-col>Start Date</ion-col>
          <ion-col>End Date</ion-col>
          <ion-col>Price ($)</ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col> <p>11-24-2018</p> </ion-col>
          <ion-col> <p>11-25-2018</p> </ion-col>
          <ion-col><p>200.00</p> </ion-col>
        </ion-row>
      </div>
      <div class="naslot" (click)="goto('AreainfoPage')">
        <h5>Add New Area Slot</h5>
      </div>
    </div>
    <div>
      <ion-segment [(ngModel)]="slot2" color="primary">
        <ion-segment-button class="boder" value="test">
          Test
        </ion-segment-button>
        <ion-segment-button class="back" value="availability">
          Availability
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="slot2 == 'test'">
        <ion-row class="slots">
          <ion-col col-3> Slot </ion-col>
          <ion-col> Size(in acres) </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="slot2 == 'availability'">
        <ion-row class="slots">
          <ion-col>Start Date</ion-col>
          <ion-col>End Date</ion-col>
          <ion-col>Price ($)</ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col> <p>11-24-2018</p> </ion-col>
          <ion-col> <p>11-25-2018</p> </ion-col>
          <ion-col><p>200.00</p> </ion-col>
        </ion-row>
      </div>
      <div class="naslot" (click)="goto('AreainfoPage')">
        <h5>Add New Area Slot</h5>
      </div>
    </div>
    <div>
      <ion-segment [(ngModel)]="slot3" color="primary">
        <ion-segment-button class="boder" value="test">
          Test
        </ion-segment-button>
        <ion-segment-button class="back" value="availability">
          Availability
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="slot3 == 'test'">
        <ion-row class="slots">
          <ion-col col-3> Slot </ion-col>
          <ion-col> Size(in acres) </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col col-3> <p>A1-1</p> </ion-col>
          <ion-col> <p>0.03 Acres</p> </ion-col>
          <ion-col>
            <ion-icon name="md-create"></ion-icon>
            <ion-icon name="md-close"></ion-icon>
            <ion-icon name="md-document"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="slot3 == 'availability'">
        <ion-row class="slots">
          <ion-col>Start Date</ion-col>
          <ion-col>End Date</ion-col>
          <ion-col>Price ($)</ion-col>
        </ion-row>
        <ion-row class="slotss">
          <ion-col> <p>11-24-2018</p> </ion-col>
          <ion-col> <p>11-25-2018</p> </ion-col>
          <ion-col><p>200.00</p> </ion-col>
        </ion-row>
      </div>
      <div class="naslot" (click)="goto('AreainfoPage')">
        <h5>Add New Area Slot</h5>
      </div>
    </div>
  </div>
</ion-content>
