page-managecoupons {
  .slotss {
    ion-col {
      ion-icon {
        display: inline-block;
        font-size: 2em;
        float: right;
        line-height: 1.4em;
      }
    }
  }
  .edit {
    background: color($colors, darkora);
    color: #fff;
    padding: 10px;
    border-radius: 2px;
  }
  .close {
    background: color($colors, darkblue);
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    margin-left: 10px;
  }
  .table {
    margin-top: 16px;
    .defini {
      border-bottom: 1px solid #dedada;
    }
    .tabl {
      background: #145c96;
      color: #fff;
      padding: 10px 5px;
      border-radius: 3px;
    }
  }
  .coupon {
    .couponinner {
      div {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
  }
  .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .success {
    opacity: 0.15;
  }
}
