<!--
  Generated template for the ListviewpopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <ion-list>
    <ion-item (click)="presentActionSheet()"
      ><ion-icon name="md-funnel" class="sort"></ion-icon> &nbsp;Sort
      By</ion-item
    >
    <ion-item
      ><ion-icon name="ios-funnel" class="filterr"></ion-icon>
      &nbsp;Filter</ion-item
    >
  </ion-list>
</ion-content>
