<!--
  Generated template for the LandownersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Landowners</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="landownerdesc">
  <span [innerHTML]="landownerdesc.page_content"></span>

  <ng-container
    *ngIf="landownerdesc.estate_agent && landownerdesc.estate_agent.length"
  >
    <ion-card
      *ngFor="let owner of landownerdesc.estate_agent"
      (click)="goto('LandownerdtPage', owner)"
    >
      <img [src]="owner.image_url" />
      <ion-card-header>
        {{ owner.post_title }}
      </ion-card-header>
      <ion-card-content *ngIf="owner.live_in" color="lightgrey">
        Lives in: {{ owner.live_in }}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
