page-propertydetail {
  .toolbar-background {
    background: color($colors, darkora);
  }
  .profile {
    .profil {
      .pdetail {
        background: #f5f3f4;
        padding: 14px 0;
        strong {
          padding: 0 10px;
        }
      }
    }
    p {
      margin-bottom: 2px;
      font-weight: 500;
    }
    ion-input {
      border: 1px solid #e2e2e2;
      background: #fbf9f9;
    }
    ion-select {
      max-width: 100%;
      width: 100%;
    }
    ion-item {
      border: 1px solid #e2e2e2;
      background: #fbf9f9;
      .item-inner {
        border-bottom: none !important;
      }
    }
    .brdr {
      border: 1px dashed color($colors, darkblue);
      background: #fbf9f9;
      padding: 34px 0;
      color: color($colors, darkblue);
      ion-icon {
        border: 1px solid color($colors, darkblue);
        color: color($colors, darkblue);
        padding: 8px;
        border-radius: 5px;
      }
    }
  }
}
