<!--
  Generated template for the AboutappPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>About App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="appVersion">
    <ion-card-header *ngIf="appVersion.getAppName"
      >{{ appVersion.getAppName }}</ion-card-header
    >
    <ion-card-content *ngIf="appVersion.getPackageName">
      <p>
        <b>App package name:-</b>{{ appVersion.getPackageName }}
      </p></ion-card-content
    >
    <ion-card-content *ngIf="appVersion.getVersionCode">
      <p>
        <b>App version code:-</b>{{ appVersion.getVersionCode }}
      </p></ion-card-content
    >
    <ion-card-content *ngIf="appVersion.getVersionNumber">
      <p>
        <b>App version:-</b>{{ appVersion.getVersionNumber }}
      </p></ion-card-content
    >
  </ion-card>
</ion-content>
