page-verifyemail {
  .logoo img {
    width: 50%;
  }
  .sky-background {
    background-image: url("../assets/images/background-login2.jpg") !important;
    background-size: 100% 100%;
  }
  * {
    color: #fff !important;
  }
  .formgroup input {
    color: #000 !important;
  }
  .text-input {
    color: #000 !important;
  }
  .error.checkmail.success p {
    color: black !important;
  }
  .error.checkmail.success strong {
    color: black !important;
  }
  page-verifyemail .formgroup input {
    color: #000 !important;
  }
  .midcontent {
    margin: 0 0 100px;
    padding: 0 15px;
  }
  .heading {
    font-size: 18px;
    color: color($colors, darkerblue);
    padding: 10px 0;
    font-family: "OpenSans-Light";
  }
  .error.checkmail.success {
    background: color($colors, light) none repeat scroll 0 0;
    border: 1px solid color($colors, darkblue);
    border-radius: 3px;
    padding: 10px 0;
    margin: 0 0 10px;
    strong {
      color: color($colors, darkblue);
      display: inline-block;
      font-family: "OpenSans-Bold";
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 16px;
    }
    p {
      color: color($colors, darkblue);
      font-size: 16px;
      padding: 0 15px 10px;
      margin: 0;
    }
  }
  .fieldrow {
    margin: 30px 0 100px;
    label {
      color: color($colors, darkerblue);
      display: block;
      font-family: opensans-bold;
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .mesg {
    color: color($colors, darkora);
    font-size: 18px;
    text-align: center;
  }
  button.buttonblock {
    background: color($colors, darkora) none repeat scroll 0 0;
    border-radius: 3px;
    border: none;
    color: color($colors, light);
    display: block;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    font-family: "OpenSans";
  }
  .colgroup {
    background: color($colors, light) none repeat scroll 0 0;
    border: 1px solid color($colors, lightgrey);
    border-radius: 3px;
    margin: 0 0 60px;
    padding: 20px;
    text-align: right;
    width: 100%;
    a {
      color: color($colors, darkblue);
      font-size: 17px;
      text-decoration: none;
    }
  }
  .formgroup {
    margin: 0 0 10px;
    .formgroup input.code_recieved {
      padding: 20px 15px;
    }
    input {
      border: 1px solid color($colors, lightgrey);
      color: #232323;
      font-size: 20px;
      padding: 20px 15px;
      width: 100%;
      border-radius: 3px;
    }
  }
  .emailaddress {
    margin-top: 65px;
    strong {
      color: color($colors, darkerblue);
      font-family: "OpenSans-Bold";
      font-size: 20px;
    }
    p {
      color: color($colors, darkerblue);
      font-size: 20px;
      line-height: 28px;
      margin-top: 15px;
    }
    em {
      color: color($colors, darkora);
    }
  }
}
