<!--
  Generated template for the VerifyemailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="sky-background">
  <div>
    <div class="logo">
      <div class="logoo">
        <img class="aligncenter" src="assets/images/logo.png" />
      </div>
      <div class="midcontent">
        <div class="heading">Verify Email</div>
        <div class="error checkmail success">
          <strong padding-left>Check Your Email</strong>
          <p padding-left>
            Please enter the pin number you received in your email in the field
            below.
          </p>
        </div>
        <div class="colgroup">
          <div class="formgroup">
            <input
              [(ngModel)]="otp"
              type="text"
              placeholder="Enter pin number here"
              class="code_recieved"
            />
          </div>
          <!-- <a
            class="password"
            *ngIf="signupdata && usertype"
            (click)="resendEmail()"
            >Resend Email</a
          > -->
        </div>
        <button type="button" class="buttonblock" (click)="resendEmail()">
          Continue
        </button>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
