<!--
  Generated template for the AddareainfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton *ngIf="navParams.get('edit')">
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button> </ion-buttons
    ><ion-title>Area Information</ion-title>
  </ion-navbar>
  <ion-navbar *ngIf="navParams.get('edit') == undefined">
    <ion-title>Area Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <pre>{{myForm.value | json}}</pre> -->
  <div [ngClass]="status ? 'success' : 'danger'">
    <form [formGroup]="myForm" (ngSubmit)="addareas()">
      <div class="postlists" margin-top>
        <ion-list>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Area Name</ion-label>
                <ion-input
                  type="text"
                  formControlName="prop_area_name"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Slot Details</ion-label>
                <ion-input
                  type="text"
                  formControlName="prop_area_slot_details"
                ></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                Area Color
                <ng-container *ngIf="platform.is('android')">
                  <input
                    type="color"
                    id="head"
                    name="head"
                    formControlName="prop_area_slot_color"
                    value="#e66465"
                  />
                </ng-container>
                <ng-container *ngIf="platform.is('ios')">
                  <div
                    class="pick-er1"
                    [ngStyle]="{ background: selectedcolor }"
                    (click)="selectcolorp()"
                  ></div>
                </ng-container>
              </ion-item>
              <!-- <ion-item *ngIf="plt.is('ios')">
                Area Color
              </ion-item> -->
            </ion-col>
            <ion-col> </ion-col>
          </ion-row>
          <ion-scroll scrollX="true" scrollY="true" *ngIf="colorpick">
            <div
              class="pick-er"
              style="background:#000;"
              (click)="selectcolor('#000')"
            ></div>
            <div
              class="pick-er"
              style="background:	#800080;"
              (click)="selectcolor('#800080')"
            ></div>
            <div
              class="pick-er"
              style="background:	#0000FF;"
              (click)="selectcolor('#0000FF')"
            ></div>
            <div
              class="pick-er"
              style="background:	#008000;"
              (click)="selectcolor('#008000')"
            ></div>
            <div
              class="pick-er"
              style="background:	#FFFF00;"
              (click)="selectcolor('#FFFF00')"
            ></div>
            <div
              class="pick-er"
              style="background:	#FFA500;"
              (click)="selectcolor('#FFA500')"
            ></div>
            <div
              class="pick-er"
              style="background:#FF0000;"
              (click)="selectcolor('#FF0000')"
            ></div>
            <div
              class="pick-er"
              style="background:#4F402D;"
              (click)="selectcolor('#4F402D')"
            ></div>
            <div
              class="pick-er"
              style="background:#A08721;"
              (click)="selectcolor('#A08721')"
            ></div>
            <div
              class="pick-er"
              style="background:#C5E31C;"
              (click)="selectcolor('#C5E31C')"
            ></div>
            <div
              class="pick-er"
              style="background:#29F20B;"
              (click)="selectcolor('#29F20B')"
            ></div>
            <div
              class="pick-er"
              style="background:#0FF2F5;"
              (click)="selectcolor('#0FF2F5')"
            ></div>
            <div
              class="pick-er"
              style="background:#5120E6;"
              (click)="selectcolor('#5120E6')"
            ></div>
            <div
              class="pick-er"
              style="background:#EC0AC6;"
              (click)="selectcolor('#EC0AC6')"
            ></div>
            <div
              class="pick-er"
              style="background:#F20A82;"
              (click)="selectcolor('#F20A82')"
            ></div>
            <div
              class="pick-er"
              style="background:#EB0B35;"
              (click)="selectcolor('#EB0B35')"
            ></div>
          </ion-scroll>
        </ion-list>
      </div>
      <div class="postlists" margin-top formArrayName="detail">
        <ion-list
          *ngFor="let date of myForm.get('detail').controls; let j = index"
        >
          <ng-container [formGroupName]="j">
            <ion-row *ngIf="j > 0">
              <ion-col no-padding
                ><ion-icon
                  float-right
                  color="danger"
                  name="md-close-circle"
                  (click)="deletedates(myForm.get('detail'), j)"
                ></ion-icon
              ></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div>
                  <ion-label>Start Date</ion-label>
                  <!-- <ion-datetime
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMMM YYYY"
                    formControlName="prop_area_start_date"
                    [min]="myForm.get('detail').controls[j].value.min"
                    (ionChange)="chngedate(myForm.get('detail').controls[j])"
                    [max]="max"
                  ></ion-datetime> -->
                  <my-date-picker
                    name="mydate"
                    [options]="myDatePickerOptions"
                    formControlName="prop_area_start_date"
                    (dateChanged)="
                      datechange(startdate, myForm.get('detail').controls[j])
                    "
                    required
                  ></my-date-picker>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div
                  *ngIf="
                    myForm.get('detail').controls[j].value.prop_area_start_date
                  "
                >
                  <ion-label>End Date</ion-label>
                  <!-- <ion-datetime
                    formControlName="prop_area_end_date"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMMM YYYY"
                    [min]="
                      auth.checkdate(
                        myForm.get('detail').controls[j].value
                          .prop_area_start_date,
                        1
                      )
                    "
                    [max]="max"
                    (ionChange)="chngedatemin(myForm.get('detail').controls[j])"
                  ></ion-datetime> -->

                  <my-date-picker
                    name="mydate"
                    [options]="myDatePickerOptions"
                    formControlName="prop_area_end_date"
                    (dateChanged)="
                      datechange(startdate, myForm.get('detail').controls[j])
                    "
                    required
                  ></my-date-picker>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label floating>Cost($ per day)</ion-label>
                  <ion-input
                    type="number"
                    formControlName="prop_area_cost"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-list>
      </div>

      <div class="postlists" margin-top>
        <div class="dat" (click)="setSlot()">
          <ion-icon name="md-add"></ion-icon>&nbsp;Add New Date
        </div>
      </div>

      <button
        ion-button
        full
        color="darkora"
        class="submitcon"
        round
        margin-top
        margin-bottom
      >
        Save
      </button>

      <div class="postlists" margin-top *ngIf="slots && slots.length">
        <!--    <div class="dat" padding-bottom>
        <ion-icon name="md-add"></ion-icon>&nbsp;View All Area
      </div> -->

        <div class="area">
          <ion-row class="slots">
            <ion-col text-center> View All Areas </ion-col>
          </ion-row>
          <ion-row class="slotss" *ngFor="let slot of slots; let i = index">
            <ion-col col-3>
              <p>{{ slot.prop_area_name }}</p>
            </ion-col>
            <ion-col>
              <p>{{ slot.prop_area_slot_details }}</p>
            </ion-col>
            <ion-col
              ><ion-icon
                name="ios-more"
                padding-right
                (click)="clickEvent(slot, i)"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="postlists" margin-top *ngIf="savedslots && savedslots.length">
        <!--    <div class="dat" padding-bottom>
        <ion-icon name="md-add"></ion-icon>&nbsp;View All Area
      </div> -->

        <div class="area">
          <ion-row class="slots">
            <ion-col text-center> View All Areas </ion-col>
          </ion-row>
          <ion-row
            class="slotss"
            *ngFor="let slot of savedslots; let i = index"
          >
            <ion-col col-3>
              <p>{{ slot.area_name }}</p>
            </ion-col>
            <ion-col>
              <p>{{ slot.slot_details }}</p>
            </ion-col>
            <ion-col
              ><ion-icon
                name="ios-more"
                padding-right
                (click)="clickEvent(slot, i)"
              ></ion-icon>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </form>
    <button
      *ngIf="slots && slots.length && navParams.get('edit') == undefined"
      ion-button
      full
      color="darkblue"
      round
      (click)="goto('AddslotpropertyPage')"
      class="submitcon"
      margin-top
    >
      Continue
    </button>
    <button
      *ngIf="slots && slots.length && navParams.get('edit')"
      ion-button
      full
      color="darkblue"
      round
      (click)="goback()"
      class="submitcon"
      margin-top
    >
      Continue
    </button>
  </div>

  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <button ion-button color="darkblue" full (click)="delete()">
        Delete
      </button>
      <!-- <button ion-button color="darkblue" full (click)="copy()">Copy</button> -->
      <button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>
</ion-content>
