<!--
  Generated template for the UploadmediaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Upload media</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profile" margin-top>
    <ion-row>
      <ion-col>
        <button
          ion-button
          color="darkora"
          round
          full
          (click)="presentActionSheet()"
        >
          Upload Image
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div class="profile" margin-top *ngIf="mymedia">
    <h5 padding-left padding-top>Images:</h5>
    <ng-container *ngIf="mymedia.linked_images">
      <ion-row *ngFor="let images of mymedia.linked_images">
        <ng-container *ngIf="images.image_id">
          <ion-col>
            <img
              [src]="images.image_url"
              style="    height: 120px;
            width: 100%;
            object-fit: cover;"
            />
          </ion-col>
          <ion-col>
            <button
              ion-button
              color="darkora"
              (click)="presentAlertConfirm(images)"
            >
              Remove
            </button>
          </ion-col>
        </ng-container>
      </ion-row>
    </ng-container>
  </div>

  <div class="profile" margin-top>
    <div class="videoportion">
      <ion-row>
        <ion-col>
          <ion-select [(ngModel)]="video_type" placeholder="Video from">
            <ion-option value="youtube">
              Youtube
            </ion-option>
            <ion-option value="vimeo">Vimeo</ion-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-input
            type="text"
            [(ngModel)]="video_id"
            placeholder="Video id"
          ></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <button ion-button full round color="darkora" (click)="savevideo()">
      Save video
    </button>
    <button ion-button full round color="darkblue" margin-top (click)="goto()">
      Done
    </button>
  </div>

  <div class="postlistt dtt" margin-top margin-bottom *ngIf="property">
    <h5 class="ttl">Property Details</h5>
    <ion-row *ngIf="property.wpestate_title">
      <ion-col> Property Name: </ion-col>
      <ion-col class="dtl"> {{ property.wpestate_title }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.prop_category">
      <ion-col> Category: </ion-col>
      <ion-col class="dtl"> {{ property.prop_category }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_city">
      <ion-col> City: </ion-col>
      <ion-col class="dtl"> {{ property.property_city }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_county">
      <ion-col> County /Parish: </ion-col>
      <ion-col class="dtl"> {{ property.property_county }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_state">
      <ion-col> State: </ion-col>
      <ion-col class="dtl"> {{ property.property_state }} </ion-col>
    </ion-row>
    <ion-row *ngIf="property.property_country">
      <ion-col> Country: </ion-col>
      <ion-col class="dtl"> {{ property.property_country }} </ion-col>
    </ion-row>
  </div>
  <div class="postlistt dtt" margin-top margin-bottom *ngIf="property">
    <h5 class="ttl">Selected Area Details</h5>
    <ion-row>
      <ion-col>Address:</ion-col>
      <ion-col class="dtl"
        ><ng-container *ngIf="mapaddress">{{
          mapaddress
        }}</ng-container></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col>Total Area:</ion-col>
      <ion-col class="dtl" *ngIf="area"
        >{{ area | number: "1.2-2" }}Acres</ion-col
      >
    </ion-row>
  </div>
</ion-content>
