page-emailverification {
  .logoo img {
    width: 50%;
  }
  .sky-background {
    background-image: url("../assets/images/background-login2.jpg") !important;
    background-size: 100% 100%;
  }
  * {
    color: #fff !important;
  }
  .formgroup input {
    color: #000 !important;
  }
  .text-input {
    color: #000 !important;
  }
  .midcontent {
    margin: 0 0 50px;
    padding: 0 15px;
  }
  .heading {
    font-size: 18px;
    color: #001d34;
    padding: 10px 0;
    font-family: "OpenSans-Light";
  }
  .error.checkmail.success {
    background: #381d01 none repeat scroll 0 0;
    border: 1px solid #381d01;
    border-radius: 3px;
    padding: 10px 0;
    margin: 0 0 10px;
    strong {
      color: #fff;
      display: inline-block;
      font-family: "OpenSans-Bold";
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 16px;
    }
    p {
      color: #fff;
      font-size: 16px;
      padding: 0 15px 10px;
      margin: 0;
    }
  }
  .fieldrow {
    margin: 30px 0 40px;
    label {
      color: #001d34;
      display: block;
      font-family: opensans-bold;
      padding: 10px 0;
      font-size: 16px;
    }
  }
  .formgroup {
    margin: 0 0 10px;
    input.code_recieved {
      padding: 20px 15px;
    }
    input {
      border: 1px solid #e1e1e1;
      color: #232323;
      font-size: 20px;
      padding: 20px 63px;
      width: 100%;
      border-radius: 3px;
    }
  }
  .mesg {
    color: #381d01;
    font-size: 18px;
    text-align: center;
  }
  button.buttonblock {
    background: #381d01 none repeat scroll 0 0;
    border-radius: 3px;
    border: none;
    color: #fff;
    display: block;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    font-family: "OpenSans";
  }
}
