<!--
  Generated template for the EmailverificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="sky-background">
  <div>
    <div class="logo">
      <div class="logoo">
        <img class="aligncenter" src="assets/images/logo.png" />
      </div>
      <div class="midcontent">
        <div class="heading">Mobile Verification</div>
        <!-- <div class="error checkmail success">
          <strong padding-left>Thank You</strong>
          <p padding-left>Your email has been verified!</p>
        </div> -->
        <div class="fieldrow">
          <div class="formgroup">
            <label>Enter Your mobile phone number below.</label>
            <input
              [(ngModel)]="number"
              type="tel"
              placeholder="Example: 555-555-1234"
              class="code_recieved"
            />
          </div>
          <div class="mesg">Last Step: Verify Mobile Phone</div>
        </div>
        <button type="button" class="buttonblock" (click)="verifyNumber()">
          Send Verification Code
        </button>
      </div>
    </div>
  </div>
  <bottombar></bottombar>
</ion-content>
