<!--
  Generated template for the MybookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar> <ion-title>User Reservations</ion-title> </ion-navbar>
  <!-- <ion-navbar> <ion-title>My Bookings</ion-title> </ion-navbar> -->
</ion-header>

<ion-content>
  <div class="propertyrvw">
    <ion-segment [(ngModel)]="bookings" color="primary" class="propertyrvw">
      <ion-segment-button class="boderr" value="upcoming">
        Upcoming
      </ion-segment-button>
      <ion-segment-button class="backr" value="history">
        History
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="bookings == 'upcoming'" class="price">
      <ng-container *ngIf="upcoming && upcoming.length">
        <ion-searchbar
          margin-top
          margin-bottom
          [(ngModel)]="myInput"
          placeholder="Search by user / property name "
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
        <ion-grid>
          <ion-row>
            <ion-col
              col-12
              col-xl-2
              col-lg-3
              col-md-4
              *ngFor="let upcomin of upcoming | propertybooking: myInput"
            >
              <ion-card>
                <div>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">User</p>
                      <p (click)="openuser(upcomin)" class="userclick">
                        {{ upcomin.author }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Property Name</p>
                      <p [innerHtml]="upcomin.booking_title"></p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Date</p>
                      <p>{{ upcomin.booking_date | date: "MM-dd-yyyy" }}</p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Slot</p>
                      <p>{{ upcomin.slot_name }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Cost</p>
                      <p>
                        <span [innerHTML]="currency"></span>
                        {{ upcomin.reserved_product_regularprice }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Coupon Applied</p>
                      <p>
                        <ng-container
                          *ngIf="upcomin.coupons && upcomin.coupons.length"
                        >
                          <ng-container *ngFor="let coupon of upcomin.coupons"
                            >{{ coupon.coupntitle }},&nbsp;</ng-container
                          ></ng-container
                        ><ng-container
                          *ngIf="
                            !upcomin.coupons || upcomin.coupons.length == 0
                          "
                          >No coupon applied</ng-container
                        >
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Total</p>
                      <p>
                        <span [innerHTML]="currency"></span>
                        {{ upcomin.booking_product_price_after_discount }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Paypal Transaction Id</p>
                      <p>{{ upcomin.paypal_transaction_id_of_booking }}</p>
                    </ion-col>
                  </ion-row>
                  <button
                    ion-button
                    round
                    color="darkblue"
                    full
                    class="submitcon"
                    margin-top
                    (click)="confirmcancelbooking(upcomin)"
                    *ngIf="upcomin.status_toshow == 'confirmed'"
                  >
                    Cancel Booking
                  </button>
                  <button
                    ion-button
                    round
                    color="darkora"
                    full
                    class="submitcon"
                    margin-top
                    *ngIf="upcomin.status_toshow != 'confirmed'"
                  >
                    {{ upcomin.status_toshow }}
                  </button>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </div>

    <div *ngIf="bookings == 'history'" class="price">
      <ng-container *ngIf="history && history.length">
        <ion-searchbar
          margin-top
          margin-bottom
          [(ngModel)]="myInput2"
          placeholder="Search by user / property name "
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)"
        >
        </ion-searchbar>
        <ion-grid>
          <ion-row>
            <ion-col
              col-12
              col-xl-2
              col-lg-3
              col-md-4
              *ngFor="let histori of history | propertybooking: myInput2"
            >
              <ion-card>
                <div>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">User</p>
                      <p (click)="openuser(histori)" class="userclick">
                        {{ histori.author }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Property Name</p>
                      <p [innerHtml]="histori.booking_title"></p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Date</p>
                      <p>{{ histori.booking_date | date: "MM-dd-yyyy" }}</p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Slot</p>
                      <p>{{ histori.slot_name }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Cost</p>
                      <p>
                        <span [innerHTML]="currency"></span>
                        {{ histori.reserved_product_regularprice }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Coupon Applied</p>
                      <p>
                        <ng-container
                          *ngIf="histori.coupons && histori.coupons.length"
                          ><ng-container *ngFor="let coupon of histori.coupons"
                            >{{ coupon.coupntitle }},&nbsp;</ng-container
                          ></ng-container
                        ><ng-container
                          *ngIf="
                            !histori.coupons || histori.coupons.length == 0
                          "
                          >No coupon applied</ng-container
                        >
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row class="brdr">
                    <ion-col>
                      <p class="wall">Total</p>
                      <p>
                        <span [innerHTML]="currency"></span>
                        {{ histori.booking_product_price_after_discount }}
                      </p>
                    </ion-col>
                    <ion-col
                      ><p class="wall">Paypal Transaction Id</p>
                      <p>{{ histori.paypal_transaction_id_of_booking }}</p>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </div>
  </div>
</ion-content>
