page-signup {
  .logo img {
    width: 50%;
  }
  .sky-background {
    background-image: url("../assets/images/background-login2.jpg") !important;
    background-size: 100% 100%;
  }
  * {
    color: #fff !important;
  }
  .text-input {
    color: #000 !important;
  }
}
