page-addaddress {
  ion-content {
    background-color: #f9fafe !important;
  }
  .crntlction {
    background-color: color($colors, darkblue) !important;
    color: color($colors, light) !important;
  }
  .postlists {
    button {
      width: -webkit-fill-available;
    }
    h6 {
      border-bottom: 1px solid #dedede !important;
      padding: 10px 0 !important;
    }
    color: color($colors, darkblue);
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-icon {
      font-weight: bold;
    }
    .changebtn {
      background-color: #fff;
      box-shadow: 1px 0px 5px #000;
      border-radius: 3px;
      padding: 3px 10px;
      color: color($colors, darkblue);
    }
    p {
      color: color($colors, fauji);
    }
  }
  .note {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
  ion-item {
    border-bottom: none !important;
    padding-left: 4px !important;
    .item-inner {
      border-bottom: 1px solid #dedede !important;
    }
  }
}
