<!--
  Generated template for the EditpropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons start left>
      <button ion-button show (click)="goback()">
        <ion-icon class="backbtn" name="arrow-back"></ion-icon>
      </button> </ion-buttons
    ><ion-title>Property Review</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div style="display: none;" #map_canvas id="map_canvas"></div>
  <div [ngClass]="status ? 'success' : 'danger'">
    <ion-segment [(ngModel)]="propertyrvw" color="primary" class="propertyrvw">
      <ion-segment-button class="boderr" value="detail">
        Property Details
      </ion-segment-button>
      <ion-segment-button class="backr" value="area&slots">
        Areas & Slots
      </ion-segment-button>
    </ion-segment>
    <div>
      <div *ngIf="propertyrvw == 'detail'" class="propertyrvw">
        <div class="addnewproperty postlists">
          <div style="display: none;" #map_canvas id="map_canvas"></div>
          <form (ngSubmit)="addproperty()" [formGroup]="configs" novalidate>
            <div class="addnewproperty postlists" margin-top>
              <ion-list>
                <div
                  class="error"
                  *ngIf="
                    configs.get('title').hasError('required') &&
                    configs.get('title').touched
                  "
                >
                  <p>Title of Property Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('category').hasError('required') &&
                    configs.get('category').touched
                  "
                >
                  <p>Category Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('city').hasError('required') &&
                    configs.get('city').touched
                  "
                >
                  <p>City Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('wantlease').hasError('required') &&
                    configs.get('wantlease').touched
                  "
                >
                  <p>Wanting to lease(Mandatory) Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('county').hasError('required') &&
                    configs.get('county').touched
                  "
                >
                  <p>County Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('state').hasError('required') &&
                    configs.get('state').touched
                  "
                >
                  <p>State Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('country').hasError('required') &&
                    configs.get('country').touched
                  "
                >
                  <p>Country Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('zipcode').hasError('required') &&
                    configs.get('zipcode').touched
                  "
                >
                  <p>Zipcode Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('description').hasError('required') &&
                    configs.get('description').touched
                  "
                >
                  <p>Property Description Required</p>
                </div>
                <div
                  class="error"
                  *ngIf="
                    configs.get('feature').hasError('required') &&
                    configs.get('feature').touched
                  "
                >
                  <p>Features Required</p>
                </div>
                <ion-item margin-bottom>
                  <ion-label floating
                    >Title of Property<span>*</span></ion-label
                  >
                  <ion-input
                    type="text"
                    [(ngModel)]="property.title"
                    name="title"
                    formControlName="title"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Category<span>*</span></ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.category"
                    name="category"
                    formControlName="category"
                  >
                    <ng-container *ngIf="categories && categories.length">
                      <ion-option
                        *ngFor="let categorie of categories"
                        [value]="categorie.cat_ID"
                        ><span [innerHTML]="categorie.name"></span
                      ></ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
            <div class="addnewproperty postlists" margin-top>
              <ion-list>
                <div class="autocmplete">
                  <ion-item margin-bottom>
                    <ion-label floating>City<span>*</span></ion-label>
                    <ion-input
                      type="text"
                      [(ngModel)]="property.city"
                      name="city"
                      formControlName="city"
                      (input)="citysearch($event)"
                    ></ion-input>
                  </ion-item>
                  <div
                    class="autocompletelist"
                    *ngIf="autocompleteItems && autocompleteItems.length"
                  >
                    <ion-item
                      *ngFor="let item of autocompleteItems"
                      tappable
                      (click)="chooseItem(item)"
                    >
                      {{ item.description }}
                    </ion-item>
                  </div>
                </div>
                <ion-item *ngIf="lease && lease.length">
                  <ion-label
                    >Wanting to lease(mandatory)<span>*</span></ion-label
                  >
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.wantlease"
                    name="wantlease"
                    formControlName="wantlease"
                  >
                    <ng-container *ngIf="lease && lease.length">
                      <ion-option
                        *ngFor="let leas of lease"
                        [value]="leas.cat_ID"
                        >{{ leas.name }}
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label floating>County or Parish<span>*</span></ion-label>
                  <ion-input
                    type="text"
                    [(ngModel)]="property.county"
                    name="county"
                    formControlName="county"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>State<span>*</span></ion-label>
                  <ion-input
                    type="text"
                    [(ngModel)]="property.state"
                    name="state"
                    formControlName="state"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Country<span>*</span></ion-label>
                  <ion-input
                    type="text"
                    [(ngModel)]="property.country"
                    name="country"
                    formControlName="country"
                  ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Zipcode<span>*</span></ion-label>
                  <ion-input
                    type="number"
                    [(ngModel)]="property.zipcode"
                    name="zipcode"
                    formControlName="zipcode"
                  ></ion-input>
                </ion-item>
                <ion-item margin-bottom>
                  <ion-label floating
                    >Property Description<span>*</span></ion-label
                  >
                  <ion-input
                    type="text"
                    [(ngModel)]="property.description"
                    name="description"
                    formControlName="description"
                  ></ion-input>
                </ion-item>
                <!-- <ion-item margin-bottom *ngIf="features && features.length">
                  <ion-label>Features<span>*</span></ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.feature"
                    name="feature"
                    formControlName="feature"
                    multiple
                  >
                    <ng-container *ngIf="features && features.length">
                      <ion-option
                        *ngFor="let feature of features"
                        [value]="feature"
                      >
                        <span [innerHTML]="feature"></span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item> -->

                <ion-item
                  margin-bottom
                  *ngIf="features && features.property_features"
                >
                  <ion-label>Property Features</ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.features"
                    name="feature"
                    formControlName="feature"
                    multiple
                  >
                    <ng-container
                      *ngIf="features && features.property_features"
                    >
                      <ion-option
                        *ngFor="let feature of features.property_features"
                        [value]="feature"
                      >
                        <span [innerHTML]="feature"></span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <ion-item
                  margin-bottom
                  *ngIf="features && features.available_species"
                >
                  <ion-label>Available Species</ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.available_species"
                    name="feature"
                    formControlName="feature1"
                    multiple
                  >
                    <ng-container
                      *ngIf="features && features.available_species"
                    >
                      <ion-option
                        *ngFor="let feature of features.available_species"
                        [value]="feature"
                      >
                        <span [innerHTML]="feature"></span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <ion-item
                  margin-bottom
                  *ngIf="features && features.permitted_weapon"
                >
                  <ion-label>Permitted Weapons</ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.permitted_weapon"
                    name="feature"
                    formControlName="feature2"
                    multiple
                  >
                    <ng-container *ngIf="features && features.permitted_weapon">
                      <ion-option
                        *ngFor="let feature of features.permitted_weapon"
                        [value]="feature"
                      >
                        <span [innerHTML]="feature"></span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <ion-item
                  margin-bottom
                  *ngIf="features && features.permitted_onproperty"
                >
                  <ion-label>Permitted on Property</ion-label>
                  <ion-select
                    placeholder="Select"
                    [(ngModel)]="property.permitted_onproperty"
                    name="feature"
                    formControlName="feature3"
                    multiple
                  >
                    <ng-container
                      *ngIf="features && features.permitted_onproperty"
                    >
                      <ion-option
                        *ngFor="let feature of features.permitted_onproperty"
                        [value]="feature"
                      >
                        <span [innerHTML]="feature"></span>
                      </ion-option>
                    </ng-container>
                  </ion-select>
                </ion-item>
              </ion-list>
              <!-- <h6>-Select the features that apply for your property.</h6> -->

              <button
                ion-button
                full
                color="usgbtn2"
                color="darkblue"
                margin-top
                margin-bottom
                round
              >
                Save
              </button>
            </div>
          </form>

          <button
            ion-button
            full
            color="usgbtn2"
            color="darkora"
            margin-top
            margin-bottom
            round
            (click)="goto('EditareaPage')"
          >
            Edit Property Outline
          </button>
          <button
            ion-button
            full
            color="usgbtn2"
            color="darkora"
            margin-top
            margin-bottom
            round
            (click)="goto('UploadmediaPage')"
          >
            Edit Images and Videos
          </button>
          <!-- <h6>-Select the features that apply for your property.</h6> -->
        </div>
      </div>
      <div *ngIf="propertyrvw == 'area&slots'">
        <ion-card>
          <div class="area">
            <button
              ion-button
              color="darkora"
              (click)="addnewarea('AddareainfoPage')"
              full
              round
              type="button"
            >
              Add new area
            </button>
            <ion-segment [(ngModel)]="slot3" color="primary" class="iner">
              <ion-segment-button class="boder" value="test">
                Area Name
              </ion-segment-button>
              <ion-segment-button class="back" value="availability">
                Availability
              </ion-segment-button>
            </ion-segment>

            <div *ngIf="slot3 == 'test'" padding-top>
              <ng-container
                *ngIf="property.all_areas && property.all_areas.length"
              >
                <div *ngFor="let areas of property.all_areas; let e = index">
                  <ion-row class="slots">
                    <ion-col col-3> {{ areas.area_name }} </ion-col>
                    <ion-col> {{ areas.slot_details }} </ion-col>
                  </ion-row>
                  <ion-row class="slots">
                    <ion-col col-3> Slot </ion-col>
                    <ion-col> Size(in acres) </ion-col>
                    <ion-col></ion-col>
                  </ion-row>
                  <ng-container
                    *ngIf="
                      areas.slots_full_details &&
                      areas.slots_full_details.length
                    "
                  >
                    <div
                      *ngFor="
                        let area of areas.slots_full_details;
                        let i = index
                      "
                    >
                      <ion-row class="slotss">
                        <ion-col col-3>
                          <p>{{ area.slotname }}</p>
                        </ion-col>
                        <ion-col>
                          <p>{{auth.convertArea1( area.slot_area )}} Acres</p>
                        </ion-col>
                        <ion-col
                          ><ion-icon
                            name="ios-more"
                            padding-right
                            (click)="clickEvent(area, i, e)"
                          ></ion-icon>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <div *ngIf="slot3 == 'availability'">
              <ng-container
                *ngIf="property.all_areas && property.all_areas.length"
              >
                <div *ngFor="let date of property.all_areas; let i = index">
                  <ion-row class="slots">
                    <ion-col col-3> {{ date.area_name }} </ion-col>
                    <ion-col> {{ date.slot_details }} </ion-col>
                  </ion-row>
                  <ion-row class="slots">
                    <ion-col>Start Date</ion-col>
                    <ion-col>End Date</ion-col>
                    <ion-col>Price ($)</ion-col>
                    <!-- <ion-col></ion-col> -->
                  </ion-row>
                  <ng-container
                    *ngIf="
                      date.area_date_ranges && date.area_date_ranges.length
                    "
                  >
                    <div
                      *ngFor="let dates of date.area_date_ranges; let j = index"
                    >
                      <ion-row class="slotss">
                        <ion-col>
                          <p>{{ dates.start_date }}</p>
                        </ion-col>
                        <ion-col>
                          <p>{{ dates.end_date }}</p>
                        </ion-col>
                        <ion-col
                          ><p>{{ dates.price }}</p>
                        </ion-col>
                      </ion-row>
                    </div>
                    <div class="naslot">
                      <ion-row>
                        <ion-col>
                          <button
                            ion-button
                            color="darkora"
                            (click)="goto('EditareainfoPage', i)"
                            full
                            round
                            type="button"
                          >
                            Edit
                          </button>
                        </ion-col>
                        <ion-col>
                          <button
                            ion-button
                            color="darkora"
                            (click)="delarea(date.area_id)"
                            full
                            round
                            type="button"
                          >
                            Delete
                          </button>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <button
                            ion-button
                            color="darkora"
                            (click)="goto('AddslotpropertyPage', 0)"
                            full
                            round
                            type="button"
                          >
                            Add new slot
                          </button>
                        </ion-col>
                      </ion-row>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
  <div class="postlist" *ngIf="show" [@slideInOut]>
    <div>
      <button
        ion-button
        color="darkblue"
        full
        (click)="goto('AddslotpropertyPage', areaindex1)"
      >
        Edit</button
      ><button ion-button color="darkblue" full (click)="deleteselectedslot()">
        Delete</button
      ><!--button ion-button color="darkblue" full>Copy</button
       --><button ion-button color="danger" (click)="clickEvent()" full>
        Cancel
      </button>
    </div>
  </div>
</ion-content>
