page-editproperty {
  ion-content {
    background-color: #f9fafe !important;
  }

  .backbtn {
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
  }
  .propertyrvw {
    margin-top: 7px;
    ion-segment-button {
      background-color: color($colors, darkblue) !important;
      border-color: color($colors, light) !important;
      color: #fff !important;
    }
    .segment-md-primary .segment-button.activated,
    .segment-md-primary .segment-button.segment-activated {
      color: color($colors, light) !important;
      border-color: color($colors, light) !important;
    }
    .segment-ios-primary .segment-button.activated,
    .segment-ios-primary .segment-button.segment-activated {
      color: color($colors, light) !important;
      border-color: color($colors, light) !important;
    }
  }
  .postlists {
    color: #363636;
    -webkit-box-shadow: 1px 1px 10px #a29e9e;
    box-shadow: 1px 1px 10px #a29e9e;
    padding: 10px;
    background-color: #fff;
    ion-item {
      border-bottom: none !important;
      padding-left: 4px !important;
      .item-inner {
        border-bottom: 1px solid #dedede !important;
        ion-label {
          span {
            color: color($colors, danger);
          }
        }
      }
    }
    ion-list {
      margin-top: 0 !important;
    }
  }
  .profile {
  }
  .area {
    // div {
    .slots {
      padding: 14px 0;
      background: #ffffff;
      color: color($colors, darkblue);
      border-top: 1px solid color($colors, darkblue);
      border-bottom: 1px solid color($colors, darkblue);
      ion-col {
        text-align: center;
      }
    }
    div .slotss {
      ion-col {
        ion-icon {
          display: inline-block;
          font-size: 2em;
          float: right;
          line-height: 1.4em;
        }
        p {
          margin-bottom: 0;
          margin-top: 8px;
          text-align: center;
        }
      }
      // }
      ion-segment {
        .boder {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
        .back {
          border: 1px solid color($colors, darkblue) !important;
          background: color($colors, darkblue);
          color: #fff !important;
          opacity: 1;
        }
      }
    }
    .naslot {
      padding: 9px;
    }
  }
  .iner {
    .segment-md-primary .segment-button.activated,
    .segment-md-primary .segment-button.segment-activated {
      color: color($colors, darkblue) !important;
      border-color: color($colors, darkblue) !important;
    }
    .segment-ios-primary .segment-button.activated,
    .segment-ios-primary .segment-button.segment-activated {
      color: color($colors, darkblue) !important;
      border-color: color($colors, darkblue) !important;
    }
  }
  .postlist {
    border-bottom: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #fff;
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    strong {
      font-family: "OpenSans-Bold";
      font-size: 16px;
      line-height: 18px;
      text-align: left;
      display: -webkit-box;
      height: 36px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail {
      color: #484343;
    }
    ion-row {
      .labelctxt {
        color: #a0a0a0;
        ion-icon {
          color: #a0a0a0;
        }
      }
    }
  }
  .success {
    opacity: 0.15;
  }
}
